* {
    margin: 0px;
    padding: 0px;
}

@media (max-width : 767px) {

    body {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 1) 18%,
                rgba(58, 8, 119, 0.493) 76%);
        min-height: 480px;
        font-family: 'Catamaran', sans-serif;

        &.Dark {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg,

                    rgba(58, 8, 119, 0.493) 18%,
                    rgba(0, 0, 0, 1) 76%);
            color: white;
        }
    }

    #banner {
        height: 100px;
    }

    #Rick {
        top: 0;
        right: 0;
        z-index: -1;
        border-radius: 50px;
        display: none;
    }

    #DarkButton {
        width: 60px;
        height: 30px;
        border-radius: 50px;
        background-color: white;
        left: 80%;
        top: 10px;
        position: fixed;
        border: 3px solid black;
        transition: .4s ease-in-out all;
        cursor: pointer;
        z-index: 1;

        &.activado {
            background-color: rgb(59, 216, 228);
        }

        &.activado:hover {
            background-color: white;
            transition: .2s ease-in-out all;
        }

        &.activado #LightIcon {
            opacity: 0;
            transition: .2s ease-in-out all;
        }

        &.activado #DarkIcon {
            opacity: 1;
        }
    }

    #DarkButton:hover {
        background-color: rgb(59, 216, 228);
    }

    #DarkIcon {
        transition: .2s ease-in-out all;
        opacity: 0;
        width: 22px;
        height: 22px;
    }

    #LightIcon {
        width: 22px;
        height: 22px;
        position: absolute;
        left: 16px;
    }

    #Darkmode {
        opacity: 0;
        display: none;
    }

    #DarkButton:hover #Darkmode {
        border-radius: 50px;
        position: absolute;
        top: 0px;
        left: -150px;
        width: 100px;
        opacity: 0.5;
        background-color: white;
        display: block;
    }

    #juegos {
        position: absolute;
        top: 10px;
        left: 60%;
        width: 18%;
        max-width: 110px;
        padding-left: 10px;
        border-radius: 3px;
        background-color: rgba(1, 1, 1, 0);
        font-weight: 400;
        font-size: 2ch;
        z-index: 0;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.Dark {
            color: white;
        }

        &.Dark:hover {
            border-bottom: white 3px solid;
        }
    }

    #juegos:hover {
        padding: 0px 5px;
        border-bottom: solid black 3px;
        border-radius: 3px;
    }

    #queVer {
        position: absolute;
        top: 10px;
        left: 40%;
        width: 18%;
        max-width: 110px;
        padding-left: 10px;
        border-radius: 3px;
        background-color: rgba(1, 1, 1, 0);
        font-weight: 400;
        font-size: 2ch;
        z-index: 0;
        color: black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.Dark {
            color: white;
        }

        &.Dark:hover {
            border-bottom: white 3px solid;
        }
    }

    #queVer:hover {
        padding: 0px 5px;
        border-bottom: solid black 3px;
        border-radius: 3px;
    }



    #atajos {
        width: 100%;

        &.Dark th {
            color: white;
            background-color: rgba(255, 255, 255, 0.5);
        }

        &.Dark a {
            color: white;
        }

        &.Dark #c1,
        &.Dark #c2,
        &.Dark #c3,
        &.Dark #c4 {

            background: rgba(255, 255, 0, 0.2);
            background: linear-gradient(25deg,
                    rgba(11, 139, 139, 0.125) 0%,
                    rgba(255, 255, 255, 0) 60%);
            color: white;
        }

        &.Dark:hover a:hover {
            background: rgba(0, 0, 0, 0.2);
            background: linear-gradient(90deg,
                    rgba(0, 0, 0, 0.9890567050890976) 10%,
                    rgba(0, 0, 0, 0) 85%);
            color: white;
            border-left: rgb(255, 255, 255) solid 3px;
            border-radius: 0px;
        }
    }

    #c1,
    #c2,
    #c3,
    #c4 {
        width: 25%;
        float: left;
        text-align: center;
        font-size: auto;
        font-weight: auto;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.125) 0%,
                rgba(255, 255, 255, 0) 60%);
        border-radius: 12px;
        cursor: pointer;
    }


    #atajos ul {
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        text-align: left;
    }

    #c1 a,
    #c2 a,
    #c3 a,
    #c4 a {
        display: none;
        color: black;
    }

    #c1:hover a,
    #c2:hover a,
    #c3:hover a,
    #c4:hover a {
        display: block;

    }

    #atajos:hover a:hover {
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 0.9890567050890976) 10%,
                rgba(0, 0, 0, 0) 85%);
        border-left: rgb(255, 255, 255) solid 3px;
        color: white;
        display: block;
    }

    #bulto1 {
        height: 100px;
    }

    #notas {
        position: absolute;
        width: 100%;
        height: auto;
    }

    #notas h2 {
        position: absolute;
        top: 0px;
        z-index: 2;
    }

    #dobleclick {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 12;
        background: rgba(255, 255, 255, 0.8);
    }

    #menuNotas {
        position: relative;
        border-radius: 12px;
        border: rgb(0, 0, 0) 3px solid;
        width: 320px;
        height: 360px;
        margin: 10% auto;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 1) 18%,
                rgba(58, 8, 119, 0.493) 76%);
        font-weight: 800;
        font-size: 4ch;
    }

    #cancelar {
        position: absolute;
        bottom: 10px;
        right: 10%;
        width: 25%;
        height: 30px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.625) 0%,
                rgba(255, 255, 255, 0.600) 60%);
        z-index: 30;
    }

    #cancelar:hover,
    #eliminar:hover {
        border: solid 3px black;
    }

    #eliminar {
        position: absolute;
        bottom: 10px;
        width: 25%;
        height: 30px;
        right: 37.5%;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.625) 0%,
                rgba(255, 255, 255, 0.600) 60%);
    }

    #paletaColores {
        width: 300px;
        height: 300px;
        position: relative;
        border-radius: 12px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 90px);
        padding: 0px;
        gap: 2px;
        margin: 5% 7%;
        cursor: pointer;
    }

    #color1 {
        background: linear-gradient(25deg,
                rgb(216, 0, 0) 0%,
                rgb(139, 0, 0) 50%);

        &#color1:hover {
            background: #d80000;
        }
    }

    #color2 {
        background: linear-gradient(25deg,
                rgb(97, 124, 216) 0%,
                rgb(61, 100, 139) 50%);

        &#color2:hover {
            background: rgb(97, 124, 216, 1);
        }
    }

    #color3 {
        background: linear-gradient(25deg,
                rgb(255, 0, 255, 1) 0%,
                rgb(146, 0, 146) 50%);

        &#color3:hover {
            background: rgb(255, 0, 255, 1);
        }
    }

    #color4 {
        background: linear-gradient(25deg,
                rgb(140, 0, 255, 1) 0%,
                rgb(79, 0, 143) 50%);

        &#color4:hover {
            background: rgb(140, 0, 255, 1);
        }
    }

    #color5 {
        background: linear-gradient(25deg,
                rgb(255, 255, 0, 1) 0%,
                rgb(148, 148, 0) 50%);

        &#color5:hover {
            background: rgb(255, 255, 0);
        }
    }

    #color6 {
        background: linear-gradient(25deg,
                rgb(0, 255, 200, 1) 0%,
                rgb(0, 150, 117) 50%);

        &#color6:hover {
            background: rgb(0, 255, 200);
        }
    }

    #color7 {
        background: linear-gradient(25deg,
                rgb(255, 196, 0) 0%,
                rgb(163, 125, 1) 50%);

        &#color7:hover {
            background: rgb(255, 196, 0);
        }
    }

    #color8 {
        background: linear-gradient(25deg,
                rgb(200, 255, 0) 0%,
                rgb(117, 150, 0) 50%);

        &#color8:hover {
            background: rgb(200, 255, 0);
        }
    }

    #color9 {
        background: linear-gradient(25deg,
                rgb(255, 255, 255) 0%,
                rgb(161, 161, 161) 50%);

        &#color9:hover {
            background: rgb(255, 255, 255);
            color: white;
        }
    }

    #nuevaNota {
        width: auto;
        position: relative;
        top: 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 60px);
        padding: 4px;
        gap: 4px;
        border-radius: 12px;
        height: auto;
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.5) 10%,
                rgba(255, 255, 255, 0.5) 85%);
        border-radius: 12px;
        padding-top: 60px;
    }

    .dropZone {
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        margin-left: 10px;
        gap: 24px;
        display: none;
    }

    #dropZone {
        top: -330px;
        position: absolute;
        width: 680px;
        height: 120px;
        display: none;
    }

    #dropZone1 {
        top: 50px;
        left: 250px;
        position: absolute;
        display: none;
    }

    #dropZone2 {
        position: fixed;
        right: 20px;
        bottom: 10px;
        width: 120px;
        height: 120px;
    }

    #dropZone2:hover {
        right: 80px;
        bottom: 80px;
    }

    .drag {
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.5) 10%,
                rgba(255, 255, 255, 0.5) 85%);
        border-radius: 12px;
        transition: .3s ease-in-out all;
        border: grey dashed 2px;
    }

    #newNotebtn {
        z-index: 1;
        position: absolute;
        right: 10px;
        top: 0px;
        background-color: rgb(0, 0, 0, 0);
        border: none;
    }

    #newNotebtn:hover {
        cursor: pointer;
    }

    .note {
        background: rgba(255, 255, 0, 0.5);
        height: 60px;
        width: 60px;
        box-sizing: border-box;
        padding: 5px;
        border: none;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: (0, 0, 7px, rgba(0, 0, 0, ));

        &.color1 {
            background: linear-gradient(215deg,
                    rgb(216, 0, 0) 0%,
                    rgb(139, 0, 0) 10%);
        }

        &.color2 {
            background: linear-gradient(215deg,
                    rgb(97, 124, 216) 0%,
                    rgb(61, 100, 139) 10%);
            color: white;
        }

        &.color3 {
            background: linear-gradient(215deg,
                    rgb(255, 0, 255, 1) 0%,
                    rgb(146, 0, 146) 10%);
        }

        &.color4 {
            background: linear-gradient(215deg,
                    rgb(140, 0, 255, 1) 0%,
                    rgb(79, 0, 143) 10%);
            color: white;
        }

        &.color5 {
            background: linear-gradient(215deg,
                    rgb(255, 255, 0, 1) 0%,
                    rgb(148, 148, 0) 10%);

        }

        &.color6 {
            background: linear-gradient(215deg,
                    rgb(0, 255, 200, 1) 0%,
                    rgb(0, 150, 117) 10%);

        }

        &.color7 {
            background: linear-gradient(215deg,
                    rgb(255, 196, 0) 0%,
                    rgb(163, 125, 1) 10%);

        }

        &.color8 {
            background: linear-gradient(215deg,
                    rgb(200, 255, 0) 0%,
                    rgb(117, 150, 0) 10%);

        }

        &.color9 {
            background: linear-gradient(215deg,
                    rgb(255, 255, 255) 0%,
                    rgb(161, 161, 161) 10%);

        }
    }

    .note:hover {
        height: 150px;
        width: 150px;
        background-color: rgba(255, 255, 0, 1);
        z-index: 1;
        padding: 20px;
        font-size: 2ch;

        &.color1:hover {
            background: #d80000;
            color: black
        }

        &.color2:hover {
            background: rgb(97, 124, 216, 1);
            color: white;
        }

        &.color3:hover {
            background: rgb(255, 0, 255, 1);
            color: black;
        }

        &.color4:hover {
            background: rgb(140, 0, 255, 1);
            color: white;
        }

        &.color5:hover {
            background: rgb(255, 255, 0);
            color: black;
        }

        &.color6:hover {
            background: rgb(0, 255, 200);
            color: black;
        }

        &.color7:hover {
            background: rgb(255, 196, 0);
            color: black;
        }

        &.color8:hover {
            background: rgb(200, 255, 0);
            color: black;
        }

        &.color9:hover {
            background: rgb(255, 255, 255);
            color: black;
        }
    }

    #presentacion,
    #notasFunc,
    #chat-gpt {
        transition: .5 ease-in-out all;
    }

    #notasFunc,
    #chat-gpt {
        display: none;
    }

    #chat-gpt a {
        width: 50%;
        height: 100px;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
    }

    #chat-gpt-img {

        &.Dark {
            filter: invert(1);
        }
    }

    #notasFunc h2,
    #notasFunc p {
        text-align: center;
        font-weight: 800;
    }

    #notasFunc h2 {
        margin: 5px;
    }

    #notasFunc img {
        position: absolute;
        z-index: -1;
        width: 600px;
        height: 600px;
        rotate: 20deg;
        right: 0px;
        opacity: 0.2;
    }

    #swap {
        font-size: 1.3ch;
        width: 95%;
        margin: 3px;
        height: 450px;
        margin: 20px;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
    }

    .opcion {
        float: left;
        border-radius: 100px;
        width: 5px;
        height: 5px;
        border: black 3px solid;
        cursor: pointer;
        transition: .5 ease-in-out all;
    }

    #one {
        position: absolute;
        bottom: 10px;
        background: rgb(0, 0, 0);
        margin-left: 35%;
    }

    #two {
        position: absolute;
        bottom: 10px;
        background: white;
        margin-left: 50%;
    }

    #three {
        position: absolute;
        bottom: 10px;
        background: white;
        margin-left: 65%;
    }

    #bulto {

        margin-left: 10px;
    }

    #bulto2 {
        height: 450px;
    }

    footer {
        margin-bottom: 10px;
        position: fixed;
        bottom: 10px;
    }

    #redes {
        width: 100px;
        height: 45px;
        left: 0px;
        border-radius: 3px;
        border-bottom: 3px black solid;
        position: relative;
        margin-bottom: 15px;
        z-index: 2;

        &.Dark {
            border-bottom: 3px white solid;
        }

        &.Dark:hover {
            background-color: rgba(255, 255, 255);
            border-radius: 12px;
            color: black;
        }

        &.Dark:hover #redesimg {
            filter: invert(0);
        }

        &.Dark #redesimg {
            filter: invert(1);
        }
    }

    #Lista {
        position: fixed;
        right: 10px;
        top: 290px;
        width: 300px;
    }

    #redesimg {
        position: absolute;
        left: 5px;
    }

    #redes span {
        position: absolute;
        align-items: center;
        top: 20px;
        left: 50px;
        font-weight: 800;
    }

    #redes:hover {
        padding-right: 500px;
        transition: .5s ease-in-out all;
        background-color: rgba(255, 253, 253, 0);
    }

    ul {
        list-style: none;
        margin: 0%;
        padding: 0%;
    }

    #redes li {
        float: left;
    }

    a {
        text-decoration: none;
    }


    #Youtube,
    #YoutubeIcon,
    #Twitter,
    #TwitterIcon,
    #Instagram,
    #InstagramIcon,
    #Twitch,
    #TwitchIcon {
        visibility: hidden;
        display: flex;
        align-items: center;
        position: absolute;
        left: -10px;
        top: 6px;
        transition: .5s ease-in-out all;
        opacity: 0;
    }

    #redes:hover #YoutubeIcon {
        visibility: visible;
        left: 120px;
        opacity: 1;
        top: 2px;
    }

    #redes:hover #InstagramIcon {
        visibility: visible;
        left: 180px;
        opacity: 1;
        filter: invert(32%) sepia(58%) saturate(987%) hue-rotate(352deg) brightness(90%) contrast(86%)
    }

    #redes:hover #TwitterIcon {
        visibility: visible;
        left: 230px;
        opacity: 1;
        filter:
            invert(45%) sepia(97%) saturate(1728%) hue-rotate(164deg) brightness(100%) contrast(103%);
    }

    #redes:hover #TwitchIcon {
        visibility: visible;
        left: 280px;
        opacity: 1;
    }

    #redes:hover #Youtube {
        left: 155px;
        opacity: 1;
        color: rgb(255, 0, 0);
        font-weight: 800;
    }

    #redes:hover #Instagram {

        left: 270px;
        opacity: 1;
        color: #965118;
        font-weight: 800;
    }

    #redes:hover #Twitter {

        left: 425px;
        opacity: 1;
        color: #00acee;
        font-weight: 800;
    }

    #redes:hover #Twitch {
        left: 515px;
        opacity: 1;
        color: #6441a5;
        font-weight: 800;
    }

    #TwitterIcon,
    #InstagramIcon,
    #redesimgIcon,
    #TwitchIcon {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

    #YoutubeIcon {
        width: 50px;
        height: 45px;
    }
}

@media (min-width: 768px) and (max-width : 1199px) {

    body {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 1) 18%,
                rgba(58, 8, 119, 0.493) 76%);
        min-height: 655px;
        font-family: 'Catamaran', sans-serif;

        &.Dark {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg,

                    rgba(58, 8, 119, 0.493) 18%,
                    rgba(0, 0, 0, 1) 76%);
            color: white;
        }
    }

    a {
        cursor: pointer;
    }

  #Rick {
        top: 50px;
        right: 0;
        z-index: 0;
        border-radius: 50px;
        position: fixed;
    }

    body::-webkit-scrollbar {
        width: 7px;
        height: 0px;
        border-right: 10px solid rgba(0, 0, 0, 0.2);
        margin-right: 3px;
    }

    body:hover::-webkit-scrollbar-thumb {
        background: rgb(170, 165, 170);
        border-radius: 12px;
        filter: blur(1px);
        border-right: 10px solid rgba(0, 0, 0, 0.2);
    }

    body::-webkit-scrollbar-thumb:hover {
        width: 7px;
        background: rgb(55, 56, 56);
        border-right: 10px solid rgba(0, 0, 0, 0.2);
    }

    #Banner {
        height: 300px;
    }

    #fixedNav {
        width: 100%;
        z-index: 100;
        position: fixed;
        top:0px;
        &.fixed {
            position:absolute;
        }
    }

    #fixedDiv {
        background-color: rgb(0, 0, 0, 0.5);
        position: relative;
        width: 100%;
        border: 3px solid black;
        height: 40px;
        &.fixed {
            top: 0px;
        }

        &.Dark {
            background-color: rgb(255, 255, 255, 0.5);
        }
    }

    #fixNavBtn {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 6px;
        right: 140px;
        border-radius: 100px;
        cursor: pointer;
        background-color: rgb(59, 216, 228);

        &.fixed {
            background-color: rgb(255, 230, 0);
        }

        &.fixed #fixImg {
            rotate: 20deg;
        }

        #fixNavBtn:hover #fixImg {
            rotate: 0deg;
        }

    }

    #fixNavBtn:hover {
        background-color: rgb(255, 230, 0);

        &.fixed {
            background-color: rgb(59, 216, 228);
        }

        &.fixed #fixImg {
            rotate: 0deg
        }
    }

    #fixImg{
        position: absolute;
        left:0px;
        top:0px;
        width: 25px;
        height: 25px;
    }

    #fixNavBtn:hover #fixImg {
        rotate: 20deg;
    }

    #DarkButton {
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: rgb(255, 230, 0);
        right: 180px;
        top: 5px;
        position: absolute;
        border: 3px solid black;
        transition: .4s ease-in-out all;
        cursor: pointer;
        z-index: 1;

        &.activado {
            background-color: rgb(59, 216, 228);
        }

        &.activado:hover {
            background-color: rgb(255, 230, 0);
            transition: .2s ease-in-out all;
        }

        &.activado #LightIcon {
            opacity: 0;
            transition: .2s ease-in-out all;
        }

        &.activado #DarkIcon {
            opacity: 1;
        }
    }

    #DarkButton:hover {
        background-color: rgb(59, 216, 228);
    }

    #DarkIcon {
        transition: .2s ease-in-out all;
        opacity: 0;
        width: 22px;
        height: 22px;
    }

    #LightIcon {
        width: 22px;
        height: 22px;
        position: absolute;
        left: 1px;
        top:1px;
    }

    #Darkmode {
        opacity: 0;
        display: none;
    }

    #DarkButton:hover #Darkmode {
        border-radius: 50px;
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100px;
        opacity: 0.5;
        background-color: white;
        display: block;
    }

    #juegos {
        position: absolute;
        top: 2px;
        left: 60%;
        background-color: rgba(1, 1, 1, 0);
        font-weight: 800;
        font-size: 2ch;
        color: white;      
        &.Dark {
            color: black;  
        }

        &.Dark:hover {
            color: black;
            border-bottom: black 3px solid;
        }
    }

    #queVer {
        position: absolute;
        top: 2px;
        left: 45%;
        background-color: rgba(1, 1, 1, 0);
        font-weight: 800;
        font-size: 2ch;
        z-index: 0;
        border-bottom: none;
        color: white;
        &.Dark {
            color: black;
        }

        &.Dark:hover {
            color: black;
            border-bottom: black 3px solid;
        }
    }

    #juegos:hover,
    #queVer:hover {
        border-bottom: rgb(255, 255, 255) 3px solid;
        border-radius: 3px;
    }

    #atajos {
        width: 100%;

        &.Dark th {
            color: white;
            background-color: rgba(255, 255, 255, 0.5);
        }

        &.Dark a {
            color: white;
        }

        &.Dark #c1,
        &.Dark #c2,
        &.Dark #c3,
        &.Dark #c4 {
            float: left;
            text-align: center;
            padding: 0px;
            margin: 0px;
            width: 240px;
            font-size: 2ch;
            background: rgba(255, 255, 0, 0.2);
            background: linear-gradient(25deg,
                    rgba(11, 139, 139, 0.125) 0%,
                    rgba(255, 255, 255, 0) 60%);
            color: white;
        }

        &.Dark:hover a:hover {
            background: rgba(0, 0, 0, 0.2);
            background: linear-gradient(90deg,
                    rgba(0, 0, 0, 0.9890567050890976) 10%,
                    rgba(0, 0, 0, 0) 85%);
            color: white;
            border-left: rgb(255, 255, 255) solid 3px;
            border-radius: 0px;
        }
    }

    #c1,
    #c2,
    #c3,
    #c4 {
        float: left;
        text-align: center;
        padding: 0px;
        margin: 0px;
        width: 25%;
        font-size: 2ch;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.125) 0%,
                rgba(255, 255, 255, 0) 60%);
        border-radius: 12px;
        cursor: pointer;

    }

    #atajos ul {
        margin: 0px;
        margin-left: 10px;
        padding: 0px;
        text-align: left;
    }

    #c1 a,
    #c2 a,
    #c3 a,
    #c4 a {
        display: none;
        color: black;
    }

    #c1:hover a,
    #c2:hover a,
    #c3:hover a,
    #c4:hover a {
        display: block;

    }

    #atajos:hover a:hover {
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 0.9890567050890976) 10%,
                rgba(0, 0, 0, 0) 85%);
        border-left: rgb(255, 255, 255) solid 3px;
        color: white;
        display: block;
    }

    #bulto1 {
        height: 220px;
    }

    #notas {
        position: absolute;
        width: 100%;
        height: 0px;
    }

    #dobleclick {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 12;
        background: rgba(255, 255, 255, 0.8);
    }

    #menuNotas {
        position: relative;
        border-radius: 12px;
        border: rgb(0, 0, 0) 3px solid;
        width: 400px;
        height: 400px;
        margin: 10% 30%;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 1) 18%,
                rgba(58, 8, 119, 0.493) 76%);
        font-weight: 800;
        font-size: 4ch;
    }

    #cancelar {
        position: absolute;
        bottom: 10px;
        right: 10%;
        width: 25%;
        height: 30px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.625) 0%,
                rgba(255, 255, 255, 0.600) 60%);
        z-index: 30;
    }

    #cancelar:hover,
    #eliminar:hover {
        border: solid 3px black;
    }

    #eliminar {
        position: absolute;
        bottom: 10px;
        width: 25%;
        height: 30px;
        right: 37.5%;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.625) 0%,
                rgba(255, 255, 255, 0.600) 60%);
    }

    #paletaColores {
        width: 308x;
        height: 308px;
        position: relative;
        border-radius: 12px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 100px);
        padding: 0px;
        gap: 4px;
        margin: 10% 10%;
        cursor: pointer;
    }

    #color1 {
        background: linear-gradient(25deg,
                rgb(216, 0, 0) 0%,
                rgb(139, 0, 0) 50%);

        &#color1:hover {
            background: #d80000;
        }
    }

    #color2 {
        background: linear-gradient(25deg,
                rgb(97, 124, 216) 0%,
                rgb(61, 100, 139) 50%);

        &#color2:hover {
            background: rgb(97, 124, 216, 1);
        }
    }

    #color3 {
        background: linear-gradient(25deg,
                rgb(255, 0, 255, 1) 0%,
                rgb(146, 0, 146) 50%);

        &#color3:hover {
            background: rgb(255, 0, 255, 1);
        }
    }

    #color4 {
        background: linear-gradient(25deg,
                rgb(140, 0, 255, 1) 0%,
                rgb(79, 0, 143) 50%);

        &#color4:hover {
            background: rgb(140, 0, 255, 1);
        }
    }

    #color5 {
        background: linear-gradient(25deg,
                rgb(255, 255, 0, 1) 0%,
                rgb(148, 148, 0) 50%);

        &#color5:hover {
            background: rgb(255, 255, 0);
        }
    }

    #color6 {
        background: linear-gradient(25deg,
                rgb(0, 255, 200, 1) 0%,
                rgb(0, 150, 117) 50%);

        &#color6:hover {
            background: rgb(0, 255, 200);
        }
    }

    #color7 {
        background: linear-gradient(25deg,
                rgb(255, 196, 0) 0%,
                rgb(163, 125, 1) 50%);

        &#color7:hover {
            background: rgb(255, 196, 0);
        }
    }

    #color8 {
        background: linear-gradient(25deg,
                rgb(200, 255, 0) 0%,
                rgb(117, 150, 0) 50%);

        &#color8:hover {
            background: rgb(200, 255, 0);
        }
    }

    #color9 {
        background: linear-gradient(25deg,
                rgb(255, 255, 255) 0%,
                rgb(161, 161, 161) 50%);

        &#color9:hover {
            background: rgb(255, 255, 255);
            color: white;
        }
    }

    #notas h2 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 350px;
        margin-left: 30px;
        width: 60px;
        z-index: 2;
    }

    #nuevaNota {
        left: 65%;
        width: 30%;
        position: relative;
        top: -500px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        padding: 24px;
        gap: 24px;
        border-radius: 12px;
        height: auto;
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.5) 10%,
                rgba(255, 255, 255, 0.5) 85%);
        border-radius: 12px;
        padding-top: 60px;
    }

    .dropZone {
        display: grid;
        grid-template-columns: repeat(auto-fill, 120px);
        margin-left: 10px;
        gap: 24px;

    }

    #dropZone {
        top: -950px;
        position: absolute;
        width: 680px;
        height: 120px;
    }

    #dropZone1 {
        top: 50px;
        left: 250px;
        position: absolute;
    }

    #dropZone2 {
        position: fixed;
        right: 20px;
        bottom: 10px;
        width: 120px;
        height: 120px;
    }

    #dropZone2:hover {
        right: 80px;
        bottom: 80px;

    }

    .drag {
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.5) 10%,
                rgba(255, 255, 255, 0.5) 85%);
        border-radius: 12px;
        transition: .3s ease-in-out all;
        border: grey dashed 2px;
    }

    #newNotebtn {
        z-index: 1;
        position: absolute;
        right: 10px;
        top: 0px;
        background-color: rgb(0, 0, 0, 0);
        border: none;
    }

    #newNotebtn:hover {
        cursor: pointer;
    }

    .note {
        height: 120px;
        width: 120px;
        box-sizing: border-box;
        padding: 5px;
        border: none;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: (0, 0, 7px, rgba(0, 0, 0, ));
        cursor: pointer;
        font-weight: 800;

        &.color1 {
            background: linear-gradient(215deg,
                    rgb(216, 0, 0) 0%,
                    rgb(139, 0, 0) 10%);
        }

        &.color2 {
            background: linear-gradient(215deg,
                    rgb(97, 124, 216) 0%,
                    rgb(61, 100, 139) 10%);
            color: white;
        }

        &.color3 {
            background: linear-gradient(215deg,
                    rgb(255, 0, 255, 1) 0%,
                    rgb(146, 0, 146) 10%);
        }

        &.color4 {
            background: linear-gradient(215deg,
                    rgb(140, 0, 255, 1) 0%,
                    rgb(79, 0, 143) 10%);
            color: white;
        }

        &.color5 {
            background: linear-gradient(215deg,
                    rgb(255, 255, 0, 1) 0%,
                    rgb(148, 148, 0) 10%);

        }

        &.color6 {
            background: linear-gradient(215deg,
                    rgb(0, 255, 200, 1) 0%,
                    rgb(0, 150, 117) 10%);

        }

        &.color7 {
            background: linear-gradient(215deg,
                    rgb(255, 196, 0) 0%,
                    rgb(163, 125, 1) 10%);

        }

        &.color8 {
            background: linear-gradient(215deg,
                    rgb(200, 255, 0) 0%,
                    rgb(117, 150, 0) 10%);

        }

        &.color9 {
            background: linear-gradient(215deg,
                    rgb(255, 255, 255) 0%,
                    rgb(161, 161, 161) 10%);

        }

    }

    .note:hover {
        height: 200px;
        width: 200px;
        z-index: 1;
        padding: 20px;
        font-size: 2ch;
        font-weight: 800;

        &.color1:hover {
            background: #d80000;
            color: black
        }

        &.color2:hover {
            background: rgb(97, 124, 216, 1);
            color: white;
        }

        &.color3:hover {
            background: rgb(255, 0, 255, 1);
            color: black;
        }

        &.color4:hover {
            background: rgb(140, 0, 255, 1);
            color: white;
        }

        &.color5:hover {
            background: rgb(255, 255, 0);
            color: black;
        }

        &.color6:hover {
            background: rgb(0, 255, 200);
            color: black;
        }

        &.color7:hover {
            background: rgb(255, 196, 0);
            color: black;
        }

        &.color8:hover {
            background: rgb(200, 255, 0);
            color: black;
        }

        &.color9:hover {
            background: rgb(255, 255, 255);
            color: black;
        }
    }

    #presentacion,
    #notasFunc,
    #chat-gpt {
        transition: .5 ease-in-out all;
    }

    #notasFunc,
    #chat-gpt {
        display: none;
    }

    #chat-gpt a {
        width: 50%;
        height: auto;
        margin-left: 25%;
    }

    #chat-gpt-img {
        &.Dark {
            filter: invert(1);
        }
    }

    #notasFunc h2,
    #notasFunc p {
        text-align: center;
        font-weight: 800;
    }

    #notasFunc h2 {
        margin: 20px;
    }

    #notasFunc img {
        position: absolute;
        z-index: -1;
        width: 1200px;
        height: 1200px;
        rotate: 20deg;
        right: 0px;
        opacity: 0.2;
    }

    #swap {
        width: 60%;
        height: 500px;
        margin-left: 20px;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
    }

    .opcion {
        position: absolute;
        bottom: 10px;
        border-radius: 100px;
        width: 10px;
        height: 10px;
        border: black 3px solid;
        cursor: pointer;
        transition: .5 ease-in-out all;
    }

    #one {
        left: 35%;
        background: rgb(0, 0, 0);
    }

    #two {
        left: 50%;
        background: white;
    }

    #three {
        left: 65%;
        background: white;
    }

    #bulto {
        display: none;
    }

    #bulto2 {
        display: none;
    }

    footer {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #redes {
        width: 100px;
        height: 45px;
        left: 20px;
        border-radius: 3px;
        border-bottom: 3px black solid;
        position: relative;
        margin-bottom: 15px;
        z-index: 2;

        &.Dark {
            border-bottom: 3px white solid;
        }

        &.Dark:hover {
            background-color: rgba(255, 255, 255);
            border-radius: 12px;
            color: black;
        }

        &.Dark:hover #redesimg {
            filter: invert(0);
        }

        &.Dark #redesimg {
            filter: invert(1);
        }
    }

    #Lista {
        right: 10px;
        top: 290px;
        width: 300px;
    }

    #redesimg {
        position: absolute;
        left: 0px;
    }

    #redes span {
        position: absolute;
        align-items: center;
        top: 20px;
        left: 50px;
        font-weight: 800;
    }

    #redes:hover {
        padding-right: 500px;
        transition: .5s ease-in-out all;
        background-color: rgba(255, 253, 253, 0);
    }

    ul {
        list-style: none;
        margin: 0%;
        padding: 0%;
    }

    #redes li {
        float: left;
    }

    a {
        text-decoration: none;
    }


    #Youtube,
    #YoutubeIcon,
    #Twitter,
    #TwitterIcon,
    #Instagram,
    #InstagramIcon,
    #Twitch,
    #TwitchIcon {
        visibility: hidden;
        display: flex;
        align-items: center;
        position: absolute;
        left: -40px;
        top: 6px;
        transition: .5s ease-in-out all;
        opacity: 0;
    }

    #redes:hover #YoutubeIcon {
        visibility: visible;
        left: 155px;
        opacity: 1;
        top: 2px;
    }

    #redes:hover #InstagramIcon {
        visibility: visible;
        left: 270px;
        opacity: 1;
        filter: invert(32%) sepia(58%) saturate(987%) hue-rotate(352deg) brightness(90%) contrast(86%)
    }

    #redes:hover #TwitterIcon {
        visibility: visible;
        left: 380px;
        opacity: 1;
        filter:
            invert(45%) sepia(97%) saturate(1728%) hue-rotate(164deg) brightness(100%) contrast(103%);
    }

    #redes:hover #TwitchIcon {
        visibility: visible;
        left: 470px;
        opacity: 1;
    }

    #redes:hover #Youtube {
        visibility: visible;
        left: 210px;
        opacity: 1;
        color: rgb(255, 0, 0);
        font-weight: 800;
    }

    #redes:hover #Instagram {
        visibility: visible;
        left: 315px;
        opacity: 1;
        color: #965118;
        font-weight: 800;
    }

    #redes:hover #Twitter {
        visibility: visible;
        left: 425px;
        opacity: 1;
        color: #00acee;
        font-weight: 800;
    }

    #redes:hover #Twitch {
        visibility: visible;
        left: 515px;
        opacity: 1;
        color: #6441a5;
        font-weight: 800;
    }

    #TwitterIcon,
    #InstagramIcon,
    #redesimgIcon,
    #TwitchIcon {
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }

    #YoutubeIcon {
        width: 50px;
        height: 45px;
    }
}

@media (min-width :1200px) {
    body {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 1) 18%,
                rgba(58, 8, 119, 0.493) 76%);
        min-height: 1200px;
        font-family: 'Catamaran', sans-serif;

        &.Dark {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg,

                    rgba(58, 8, 119, 0.493) 18%,
                    rgba(0, 0, 0, 1) 76%);
            color: white;
        }
    }

    #Banner {
        position: relative;
        height: 300px;
    }

    #Rick {
        top: 80px;
        right: 0;
        z-index: -1;
        border-radius: 50px;
        position: fixed;
        width: 200px;
        height: auto;
    }

    body::-webkit-scrollbar {
        width: 12px;
        height: 0px;
        border-right: 10px solid rgba(0, 0, 0, 0.2);
        margin-right: 3px;
    }

    body:hover::-webkit-scrollbar-thumb {
        background: rgb(170, 165, 170);
        border-radius: 12px;
        filter: blur(1px);
        border-right: 10px solid rgba(0, 0, 0, 0.2);
    }

    body::-webkit-scrollbar-thumb:hover {
        width: 12px;
        background: rgb(55, 56, 56);
        border-right: 10px solid rgba(0, 0, 0, 0.2);
    }

    #fixedNav {
        width: 100%;
        z-index: 100;
        position: fixed;
        top:0px;
        &.fixed {
            position:absolute;
        }
    }

    #fixedDiv {
        background-color: rgb(0, 0, 0, 0.5);
        position: relative;
        width: 100%;
        border: 3px solid black;
        height: 70px;
        &.fixed {
            top: 0px;
        }

        &.Dark {
            background-color: rgb(255, 255, 255, 0.5);
        }

    }

    #fixNavBtn {
        position: absolute;
        top: 10px;
        right: 150px;
        border-radius: 100px;
        cursor: pointer;
        background-color: rgb(59, 216, 228);

        &.fixed {
            background-color: rgb(255, 230, 0);
        }

        &.fixed #fixImg {
            rotate: 20deg;
        }

        #fixNavBtn:hover #fixImg {
            rotate: 0deg;
        }

    }

    #fixNavBtn:hover {
        background-color: rgb(255, 230, 0);

        &.fixed {
            background-color: rgb(59, 216, 228);
        }

        &.fixed #fixImg {
            rotate: 0deg
        }
    }

    #fixNavBtn:hover #fixImg {
        rotate: 20deg;
    }

    #DarkButton {
        border-radius: 100px;
        background-color: rgb(255, 230, 0);
        right: 250px;
        top: 10px;
        position: absolute;
        border: 3px solid black;
        transition: .4s ease-in-out all;
        cursor: pointer;
        z-index: 1;

        &.activado {
            background-color: rgb(59, 216, 228);
        }

        &.activado:hover {
            background-color: rgb(255, 230, 0);
            transition: .2s ease-in-out all;
        }

        &.activado #LightIcon {
            opacity: 0;
            transition: .2s ease-in-out all;
        }

        &.activado #DarkIcon {
            opacity: 1;
        }
    }

    #DarkButton:hover {
        background-color: rgb(59, 216, 228);
    }

    #DarkIcon {
        transition: .2s ease-in-out all;
        opacity: 0;
    }

    #LightIcon {
        position: absolute;
        left: 0px;
    }

    #Darkmode {
        opacity: 0;
        display: none;
    }

    #DarkButton:hover #Darkmode {
        border-radius: 50px;
        position: absolute;
        top: 0px;
        left: 58px;
        width: 100px;
        opacity: 0.5;
        background-color: white;
        display: block;
    }

    #juegos {
        position: absolute;
        top: 12px;
        left: 65%;
        border-radius: 3px;
        font-weight: 800;
        font-size: 3ch;
        z-index: 0;
        border-bottom: none;
        color: white;

        &.Dark {
            color: white;
        }

        &.Dark:hover {
            color: white;
            border-bottom: white 3px solid;
        }
    }

    #juegos:hover {
        border-radius: 3px;
        border-bottom: rgb(255, 255, 255) 3px solid;
    }

    #queVer {
        position: absolute;
        top: 12px;
        left: 50%;
        border-radius: 3px;
        background-color: rgba(1, 1, 1, 0);
        font-weight: 800;
        font-size: 3ch;
        z-index: 0;
        border-bottom: none;
        color: white;

        &.Dark {
            color: white;
        }

        &.Dark:hover {
            color: white;
            border-bottom: white 3px solid;
        }
    }

    #queVer:hover {
        border-radius: 3px;
        border-bottom: rgb(255, 255, 255) 3px solid;
    }

    #atajos {
        width: 100%;
        margin-left: 0px;
        margin-top: 70px;

        &.Dark th {
            color: white;
            background-color: rgba(255, 255, 255, 0.5);
        }

        &.Dark a {
            color: white;
        }

        &.Dark #c1,
        &.Dark #c2,
        &.Dark #c3,
        &.Dark #c4 {
            background: rgba(255, 255, 0, 0.2);
            background: linear-gradient(25deg,
                    rgba(11, 139, 139, 0.125) 0%,
                    rgba(255, 255, 255, 0) 60%);
            color: white;
        }

        &.Dark:hover a:hover {
            background: rgba(0, 0, 0, 0.2);
            background: linear-gradient(90deg,
                    rgba(0, 0, 0, 0.9890567050890976) 10%,
                    rgba(0, 0, 0, 0) 85%);
            color: white;
            border-left: rgb(255, 255, 255) solid 3px;
            border-radius: 0px;
        }
    }

    #c1,
    #c2,
    #c3,
    #c4 {
        float: left;
        text-align: center;
        padding: 0px;
        margin: 0px;
        width: 23%;
        font-size: 3ch;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.125) 0%,
                rgba(255, 255, 255, 0) 60%);
        border-radius: 12px;
        cursor: pointer;
    }

    #atajos ul {
        margin: 0px;
        margin-left: 20px;
        padding: 0px;
        text-align: left;
    }

    #c1 a,
    #c2 a,
    #c3 a,
    #c4 a {
        display: none;
        color: black;
    }

    #c1:hover a,
    #c2:hover a,
    #c3:hover a,
    #c4:hover a {
        display: block;

    }

    #atajos:hover a:hover {
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 0.9890567050890976) 10%,
                rgba(0, 0, 0, 0) 85%);
        border-left: rgb(255, 255, 255) solid 3px;
        color: white;
        display: block;
    }

    #bulto1 {
        height: 350px;
    }

    #notas {
        position: absolute;
        width: 100%;
        height: 0px;
    }

    #notas h2 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 350px;
        margin-left: 30px;
        width: 60px;
        font-size: 4ch;
        z-index: 2;
    }

    #dobleclick {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 12;
        background: rgba(255, 255, 255, 0.8);
    }

    #menuNotas {
        position: relative;
        border-radius: 12px;
        border: rgb(0, 0, 0) 3px solid;
        width: 800px;
        height: 800px;
        margin: 20px auto;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 1) 18%,
                rgba(58, 8, 119, 0.493) 76%);
        font-weight: 800;
        font-size: 4ch;
    }

    #cancelar {
        position: absolute;
        bottom: 10px;
        right: 10%;
        width: 25%;
        height: 60px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 800;
        font-size: 1ch;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.625) 0%,
                rgba(255, 255, 255, 0.600) 60%);
        z-index: 30;
    }

    #cancelar:hover,
    #eliminar:hover {
        border: solid 5px black;
    }

    #eliminar {
        position: absolute;
        bottom: 10px;
        width: 25%;
        height: 60px;
        right: 37.5%;
        font-size: 1ch;
        border: none;
        border-radius: 50px;
        font-weight: 800;
        cursor: pointer;
        background: rgba(255, 255, 0, 0.2);
        background: linear-gradient(25deg,
                rgba(11, 139, 139, 0.625) 0%,
                rgba(255, 255, 255, 0.600) 60%);
    }

    #paletaColores {
        width: 650px;
        height: 650px;
        position: relative;
        border-radius: 12px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        padding: 0px;
        gap: 20px;
        margin: 10% 10%;
        cursor: pointer;
    }

    #color1 {
        background: linear-gradient(25deg,
                rgb(216, 0, 0) 0%,
                rgb(139, 0, 0) 50%);

        &#color1:hover {
            background: #d80000;
            border: solid 5px black;
        }
    }

    #color2 {
        background: linear-gradient(25deg,
                rgb(97, 124, 216) 0%,
                rgb(61, 100, 139) 50%);

        &#color2:hover {
            background: rgb(97, 124, 216, 1);
            border: solid 5px black;
        }
    }

    #color3 {
        background: linear-gradient(25deg,
                rgb(255, 0, 255, 1) 0%,
                rgb(146, 0, 146) 50%);

        &#color3:hover {
            background: rgb(255, 0, 255, 1);
            border: solid 5px black;
        }
    }

    #color4 {
        background: linear-gradient(25deg,
                rgb(140, 0, 255, 1) 0%,
                rgb(79, 0, 143) 50%);

        &#color4:hover {
            background: rgb(140, 0, 255, 1);
            border: solid 5px black;
        }
    }

    #color5 {
        background: linear-gradient(25deg,
                rgb(255, 255, 0, 1) 0%,
                rgb(148, 148, 0) 50%);

        &#color5:hover {
            background: rgb(255, 255, 0);
            border: solid 5px black;
        }
    }

    #color6 {
        background: linear-gradient(25deg,
                rgb(0, 255, 200, 1) 0%,
                rgb(0, 150, 117) 50%);

        &#color6:hover {
            background: rgb(0, 255, 200);
            border: solid 5px black;
        }
    }

    #color7 {
        background: linear-gradient(25deg,
                rgb(255, 196, 0) 0%,
                rgb(163, 125, 1) 50%);

        &#color7:hover {
            background: rgb(255, 196, 0);
            border: solid 5px black;
        }
    }

    #color8 {
        background: linear-gradient(25deg,
                rgb(200, 255, 0) 0%,
                rgb(117, 150, 0) 50%);

        &#color8:hover {
            background: rgb(200, 255, 0);
            border: solid 5px black;
        }
    }

    #color9 {
        background: linear-gradient(25deg,
                rgb(255, 255, 255) 0%,
                rgb(161, 161, 161) 50%);

        &#color9:hover {
            background: rgb(255, 255, 255);
            border: solid 5px black;
        }
    }

    #nuevaNota {
        left: 65%;
        width: 30%;
        position: relative;
        top: -800px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        padding: 40px;
        gap: 40px;
        border-radius: 12px;
        height: auto;
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.5) 10%,
                rgba(255, 255, 255, 0.5) 85%);
        border-radius: 12px;
        padding-top: 60px;
    }

    .dropZone {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        margin-left: 10px;
        gap: 40px;
    }

    #dropZone {
        top: -1400px;
        left: 40px;
        position: absolute;
        width: 950px;
        height: 200px;
    }

    #dropZone1 {
        top: 40px;
        left: 250px;
        position: absolute;
    }

    #dropZone2 {
        position: fixed;
        right: 60px;
        bottom: 60px;
        width: 150px;
        height: 150px;
    }

    #dropZone2:hover {
        right: 160px;
        bottom: 160px;
    }

    .drag {
        background: rgba(0, 0, 0, 0.2);
        background: linear-gradient(0deg,
                rgba(255, 255, 255, 0.5) 10%,
                rgba(255, 255, 255, 0.5) 85%);
        border-radius: 12px;
        transition: .3s ease-in-out all;
        border: grey dashed 2px;
    }

    #newNotebtn {
        z-index: 1;
        position: absolute;
        right: 30px;
        top: 10px;
        background-color: rgb(0, 0, 0, 0);
        border: none;
    }

    #newNotebtn img {
        width: 65px;
        height: auto;
    }

    #newNotebtn:hover {
        cursor: pointer;
    }

    .note {
        height: 200px;
        width: 200px;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        overflow: hidden;
        font-size: 3ch;
        font-weight: 800;
        border-radius: 12px;
        box-shadow: (0, 0, 7px, rgba(0, 0, 0, ));

        &.color1 {
            background: linear-gradient(215deg,
                    rgb(216, 0, 0) 0%,
                    rgb(139, 0, 0) 10%);
        }

        &.color2 {
            background: linear-gradient(215deg,
                    rgb(97, 124, 216) 0%,
                    rgb(61, 100, 139) 10%);
            color: white;
        }

        &.color3 {
            background: linear-gradient(215deg,
                    rgb(255, 0, 255, 1) 0%,
                    rgb(146, 0, 146) 10%);
        }

        &.color4 {
            background: linear-gradient(215deg,
                    rgb(140, 0, 255, 1) 0%,
                    rgb(79, 0, 143) 10%);
            color: white;
        }

        &.color5 {
            background: linear-gradient(215deg,
                    rgb(255, 255, 0, 1) 0%,
                    rgb(148, 148, 0) 10%);

        }

        &.color6 {
            background: linear-gradient(215deg,
                    rgb(0, 255, 200, 1) 0%,
                    rgb(0, 150, 117) 10%);

        }

        &.color7 {
            background: linear-gradient(215deg,
                    rgb(255, 196, 0) 0%,
                    rgb(163, 125, 1) 10%);

        }

        &.color8 {
            background: linear-gradient(215deg,
                    rgb(200, 255, 0) 0%,
                    rgb(117, 150, 0) 10%);

        }

        &.color9 {
            background: linear-gradient(215deg,
                    rgb(255, 255, 255) 0%,
                    rgb(161, 161, 161) 10%);

        }
    }


    .note:hover {
        height: 300px;
        width: 300px;
        z-index: 1;
        padding: 20px;
        font-size: 3.4ch;

        &.color1:hover {
            background: #d80000;
            color: black
        }

        &.color2:hover {
            background: rgb(97, 124, 216, 1);
            color: white;
        }

        &.color3:hover {
            background: rgb(255, 255, 255);
            color: black;
        }

        &.color4:hover {
            background: rgb(140, 0, 255, 1);
            color: white;
        }

        &.color5:hover {
            background: rgb(255, 255, 0);
            color: black;
        }

        &.color6:hover {
            background: rgb(0, 255, 200);
            color: black;
        }

        &.color7:hover {
            background: rgb(255, 196, 0);
            color: black;
        }

        &.color8:hover {
            background: rgb(200, 255, 0);
            color: black;
        }

        &.color9:hover {
            background: rgb(255, 0, 255, 1);
            color: black;
        }
    }

    #presentacion,
    #notasFunc,
    #chat-gpt {

        transition: .5 ease-in-out all;
    }

    #presentacion {
        font-weight: 800;
    }

    #notasFunc,
    #chat-gpt {
        display: none;
    }

    #chat-gpt img {
        width: 40%;
        height: auto;
        margin-left: 30%;
        margin-top: 100px;
    }

    #chat-gpt-img {
        &.Dark {
            filter: invert(1);
        }
    }

    #notasFunc h2,
    #notasFunc p {
        text-align: center;
        font-weight: 800;
    }

    #notasFunc h2 {
        margin: 20px;
    }

    #notasFunc img {
        position: absolute;
        z-index: -1;
        width: 1200px;
        height: 1200px;
        rotate: 20deg;
        right: 0px;
        opacity: 0.2;

    }


    #swap {
        width: 60%;
        height: 800px;
        position: relative;
        left: 50px;
        overflow: hidden;
        border-radius: 12px;
        font-size: 2.5ch;
    }

    .opcion {
        position: absolute;
        bottom: 30px;
        border-radius: 100px;
        width: 20px;
        height: 20px;
        border: black 5px solid;
        cursor: pointer;
        transition: .5 ease-in-out all;
    }

    #one {
        left: 35%;
        background: rgb(0, 0, 0);
    }

    #two {
        left: 50%;
        background: white;
    }

    #three {
        left: 65%;
        background: white;
    }

    #bulto {
        display: none;
    }

    #bulto2 {
        display: none;
    }

    footer {
        margin-bottom: 20px;
    }

    #redes {
        width: 200px;
        height: 90px;
        left: 20px;
        border-radius: 3px;
        border-bottom: 3px black solid;
        position: relative;
        margin-bottom: 15px;
        z-index: 2;

        &.Dark {
            border-bottom: 3px white solid;
        }

        &.Dark:hover {
            background-color: rgba(255, 255, 255);
            border-radius: 12px;
            color: black;
        }

        &.Dark:hover #redesimg {
            filter: invert(0);
        }

        &.Dark #redesimg {
            filter: invert(1);
        }
    }

    #redesimg {
        position: absolute;
        left: 0px;
    }

    #redes span {
        position: absolute;
        align-items: center;
        top: 20px;
        left: 100px;
        font-weight: 800;
        font-size: 4ch;
    }

    #redes:hover {
        padding-right: 1000px;
        transition: .5s ease-in-out all;
        background-color: rgba(255, 253, 253, 0);
    }

    ul {
        list-style: none;
        margin: 0%;
        padding: 0%;
    }

    #redes li {
        float: left;
    }

    a {
        text-decoration: none;
    }

    #Youtube,
    #YoutubeIcon,
    #Twitter,
    #TwitterIcon,
    #Instagram,
    #InstagramIcon,
    #Twitch,
    #TwitchIcon {
        visibility: hidden;
        display: flex;
        align-items: center;
        position: absolute;
        left: -40px;
        top: 10px;
        transition: .5s ease-in-out all;
        opacity: 0;
    }

    #redes:hover #YoutubeIcon {
        visibility: visible;
        left: 220px;
        opacity: 1;
        top: 0px;
    }

    #redes:hover #InstagramIcon {
        visibility: visible;
        left: 480px;
        opacity: 1;
        filter: invert(32%) sepia(58%) saturate(987%) hue-rotate(352deg) brightness(90%) contrast(86%)
    }

    #redes:hover #TwitterIcon {
        visibility: visible;
        left: 725px;
        opacity: 1;
        filter:
            invert(45%) sepia(97%) saturate(1728%) hue-rotate(164deg) brightness(100%) contrast(103%);
    }

    #redes:hover #TwitchIcon {
        visibility: visible;
        left: 930px;
        opacity: 1;
    }

    #redes:hover #Youtube {
        visibility: visible;
        left: 320px;
        opacity: 1;
        color: rgb(255, 0, 0);
        font-weight: 800;
    }

    #redes:hover #Instagram {
        visibility: visible;
        left: 560px;
        opacity: 1;
        color: #965118;
        font-weight: 800;
    }

    #redes:hover #Twitter {
        visibility: visible;
        left: 810px;
        opacity: 1;
        color: #00acee;
        font-weight: 800;
    }

    #redes:hover #Twitch {
        visibility: visible;
        left: 1010px;
        opacity: 1;
        color: #6441a5;
        font-weight: 800;
    }

    #TwitterIcon,
    #InstagramIcon,
    #redesimgIcon,
    #TwitchIcon,
    #redesimg {
        width: 63px;
        height: 63px;
        margin-left: 10px;
    }

    #YoutubeIcon {
        width: 90px;
        height: 81px;
    }
}