/*--------------------------- Start || General ---------------------------*/
body {
    display: flex;
    justify-content: space-between;
    font-size: 2ch;
}

/*-------------- nav --------------*/
.navContenedor {
    height: 100vh;
    width: 35vh;
}

.nav {
    position: fixed;
    width: 35vh;
    top: 0;
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
}

.enlaces {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20%;
    gap: 10%;
    height: 80%;
}

.enlaces a {
    color: white;
    text-decoration: none;
}

.enlaces a:hover {
    color: #FAA852;
}

.darkModeIcon {
    height: 30px;
    color: white;
    border: none;
}

.logoContendeor {
    height: 5%;
}

.logoPersonal {
    width: 70px;
    height: 60px;
}

#darkButton {
    text-align: left;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-weight: 600;
    margin-left: -10px;
}

#darkButton:hover {
    color: #FAA852;
}

#darkIcon {
    display: none;
}

/*-------------- Dark Mode --------------*/

.Dark {
    background-color: black;
    color: white;
}

.Dark .atajos ul h2 {
    border-bottom: solid white 1px;
}

.Dark .cont2:hover h2,
.Dark footer a:hover {
    color: #FAA852;
}

.Dark .cont2 h2,
.Dark footer a,
.Dark .atajos ul li a {
    color: white;
}

#darkIcon,
#lightIcon {
    filter: invert(1);
}

/*--------------------------- Contenido ---------------------------*/
.page {
    width: calc(100% - 35vh);
    font-family: 'Catamaran', sans-serif;
}

.page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 0, 0.2);
    background: linear-gradient(5deg,
            #3994e300 10%,
            #3994e3ad 20%,
            #3994E3 30%,
            rgb(255, 189, 189, 1) 40%,
            rgb(0, 0, 0, 0.2) 50%,
            rgb(0, 0, 0, 0) 80%,
            rgb(255, 189, 189, 0) 100%);
    width: 100%;
    height: 100%;
    z-index: -20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*-------------- Presentacion --------------*/

.inicial .subContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    padding: 5% 5% 5% 5%;
    gap: 10px;
    text-align: center;
    
}
.subContenedor{
    font-size: 2ch;
}

.contenedor,
.subContenedor {
    padding: 5% 2% 0 2%;
    font-weight: 600;
}

/*-------------- Links Utiles --------------*/
.atajos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.atajos ul h2 {
    border-bottom: solid black 1px;
}

.atajos ul li a,
.atajos ul li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.atajos ul li a:hover {
    color: #FAA852;
    background: linear-gradient(90deg,
            black,
            rgb(255, 189, 189, 0) 100%);
    padding-right: 10%;
    padding-left: 2%;
    border-left: #FAA852 solid 3px;
}

/*-------------- Proyectos --------------*/
#proyectosCont {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px 350px auto 50px 50px;
    display: grid;
    gap: 2%;
}

.proyectos {
    border-radius: 8px;
    overflow: hidden;
    border: 8px rgba(0, 0, 0, 0.6) solid;
    background-color: #2e2e2e;
    color: white;
}

.proyectos a {
    color: white;
    text-decoration: none;
}

.proyectos a:hover {
    color: #FAA852;
}

#p1 {
    grid-column: 1/3;
}

.centerCont {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#descripcion {
    grid-area: 2/3/4/3;
    transition: .5s ease-in-out all;
    overflow-y: scroll;

    &.proyecto1 #descripcionP1,
    &.proyecto2 #descripcionP2,
    &.proyecto3 #descripcionP3 {
        display: block;
    }

    &.proyecto1 #abrirDescP1,
    &.proyecto2 #abrirDescP2,
    &.proyecto3 #abrirDescP3 {
        rotate: 90deg;
        filter: invert(80%) sepia(26%) saturate(1372%) hue-rotate(324deg) brightness(100%) contrast(97%);
    }
}

#descripcion h3 {
    position: sticky;
    top: 0;
    background-color: #2e2e2e;
    z-index: 2;
}

#notasFunc {
    grid-area: 3/1/4/3;
    overflow-y: scroll;
}

#p7 {
    grid-column: 1/4;
    padding-left: 5%;
}

.descripcionContP {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.desplegar {
    filter: invert(1);
}

.descripcionContP:hover .desplegar {
    filter: invert(80%) sepia(26%) saturate(1372%) hue-rotate(324deg) brightness(100%) contrast(97%);
}

.descripcionP {
    display: none;
    padding: 5px;
}

#p10 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#p10 img {
    width: auto;
    height: 30px;
}

#p11 {
    grid-column: 1/4;
}

#proyectos .subContenedorOtros {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*-------------- Aportar --------------*/
.cont1,
.cont1 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.cont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont2 h2 {
    color: black;
}

.cont2:hover h2 {
    color: #FAA852;
}

/*-------------- Aportar --------------*/

#contacto li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
}

#contacto .subContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#contacto .subContenedor a,
#proyectos .subContenedorOtros a {
    padding: 5%;
}

#contacto .subContenedor a:hover,
#proyectos .subContenedorOtros a:hover {
    background-color: #FAA852;
    border-radius: 8px;
}

.otrosIcon {
    width: 60px;
    height: 55px;
}

.squareIcon {
    width: 60px;
    height: 60px;
}

.rectIcon {
    width: 100px;
    height: 60px;
}

#whatsAppIcon {
    filter: invert(55%) sepia(87%) saturate(3652%) hue-rotate(103deg) brightness(98%) contrast(101%);
}

#instagramIcon {
    visibility: visible;
    filter: invert(32%) sepia(58%) saturate(987%) hue-rotate(352deg) brightness(90%) contrast(86%)
}

#twitterIcon {
    visibility: visible;
    filter:
        invert(45%) sepia(97%) saturate(1728%) hue-rotate(164deg) brightness(100%) contrast(103%);
}

/*-------------- Footer --------------*/

#final {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;

}

.footerBorder {
    border-top: white 1px solid;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #FAA852;
}

/*--------------------------- Resposive ---------------------------*/

@media (max-width: 768px) {

    body {
        display: block;
        justify-content: space-between;
        font-size: 3ch;
    }

    .navContenedor {
        height: 40px;
    }

    .logoContendeor,
    .span {
        display: none;
    }

    .logoPersonal {
        height: 40px;
        width: 45px;
    }

    .page {
        width: 100%;
    }

    .nav {
        height: 40px;
        width: 100%;
        top: 0;
        background: black;
        display: flex;
        position: fixed;
        font-weight: 600;
        gap: 1%;
        z-index: 20;
    }

    div.enlaces {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 40px;
    }

    /*--------------------------- Proyectos ---------------------------*/

    #proyectosCont {
        grid-template-columns: 48.5% 48.5%;
        grid-template-rows: 60px 60px 60px 60px;
        display: grid;
        gap: 2%;
        margin-bottom: 10px;
    }

    .proyectos {
        border-radius: solid rgba(0, 0, 0, 0.6) 3px;
    }

    #p1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #p2 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    #p3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #p4 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #descripcion {
        grid-row: 1/5;
        grid-column: 2/3;
    }

    .desplegar {
        width: 20px;
        height: 20px;
    }

    #notasFunc {
        grid-row: 4/7;
        grid-column: 1/3;
        display: none;
        border: none;
    }

    #p7 {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    #p8 {
        grid-row: 5/6;
        grid-column: 1/2
    }

    #p9 {
        grid-row: 5/6;
        grid-column: 2/3;
    }

    #p10 {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    #p10 img {
        width: 30px;
        height: auto;
    }

    #p11 {
        grid-row: 6/7;
        grid-column: 2/3;
    }

    /*--------------------------- Footer || Contacto ---------------------------*/

    #contacto li {
        width: 70px;
        height: 50px;
        padding: 5px;
        font-size: 0.7ch;
    }
}

@media (max-width: 400px) {
    .atajos {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .acercaDeHide {
        display: none;
    }
}

@media (max-width: 250px) {
    .atajosHide {
        display: none;
    }

}

@media (min-width: 1200px) {
    .subContenedor {
        font-size: 3ch;
    }

    /*--------------------------- Proyectos ---------------------------*/

    #proyectosCont {
        grid-template-rows: 150px 150px auto;
    }

    .proyectos {
        border-radius: 12px;
    }

    #p10 img {
        height: auto;
        width: 60px;
    }

    /*--------------------------- Footer || Contacto ---------------------------*/

    #contacto li {
        width: 290px;
        height: 200px;
        padding: 20px;
        font-size: 1.2ch;
    }
}

@media (min-width: 1500px) {
    .subContenedor {
        font-size: 4ch;
    }
}

@media (min-width: 1800px) {
    .subContenedor{
        font-size: 5ch;
    }
}