/*--------------------------- Start || General ---------------------------*/
* {
    margin: 0;
    padding: 0;
}

#all {
    transition: .5s ease-in-out all;
}

body {
    font-family: 'Catamaran', sans-serif;
    background: linear-gradient(131deg,
            #53D1FA 18%,
            #3B85E3 33%);
    width: 100%;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    scroll-behavior: smooth;

    &.Dark {
        background: linear-gradient(131deg,
        #3994E3 18%,
                #3B85E3 33%,
                black 99.9%);
        color: white;
    }

    &.Dark #start h1 {
        filter: invert(1);
    }

    &.Dark #banner nav {
        background-color: #3994E3;
        box-shadow: 0 0 4px 0.2px #3994E3;
    }

    &.Dark #banner a {
        color: black;
    }


    &.Dark #liContenedores #contenedores li:hover a {
        color: #FAA852;
    } 
    
    &.Dark a {
        color: white;
    }

}

a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

ul {
    list-style: none;
}

p {
    text-indent: 4%;
}

#startBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3B85E3 33%;
    z-index: 600;
}

#start {
    color: white;
    font-weight: 800;
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typed {
    z-index: 601;
    text-align: center;
}

#start a {
    position: absolute;
    bottom: 1%;
    left: 40%;
    right: 40%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    z-index: 601;
    border-radius: 12px;
}

#start a img {
    width: 40%;
    height: auto;
}

#start a:hover {
    filter: invert(1);
}

/*-------------- Scroll Bar --------------*/

body::-webkit-scrollbar,
#descripcion::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    margin-right: 3px;
    background-color: #2e2e2e;
}

body:hover::-webkit-scrollbar-thumb,
#descripcion:hover::-webkit-scrollbar-thumb {
    background-color: #53D1FA;
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover,
#descripcion::-webkit-scrollbar-thumb:hover {
    width: 7px;
    background-color: #FAA852;
    border-radius: 12px;
}

html {
    scroll-behavior: smooth;
}

/*--------------------------- Fixed Nav ---------------------------*/

#banner {
    width: 100%;
    z-index: 600;
    top: 0%;
}

#banner nav {
    padding: 1% 2%;
    background-color: #53D1FA;
    box-shadow: 0 0 4px 0.2px #53D1FA;
}

#banner nav ul {
    display: flex;
    justify-content: right;
    gap: 3%;
}

#banner li a {
    color: white;
    font-weight: 400;
}

#banner li:hover a {
    cursor: pointer;
    color: #FAA852;
    font-weight: 800;
}

#contenedores {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    position: absolute;
    background: rgba(255, 255, 0, 0.2);
    background: linear-gradient(5deg,
            #3994E3 30%,
            rgb(255, 189, 189, 1) 40%,
            rgb(0, 0, 0, 0.2) 50%,
            rgb(0, 0, 0, 0) 80%,
            rgb(255, 189, 189, 0) 100%);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#liContenedores:hover #contenedores {
    visibility: visible;
    opacity: 1;
}

#liContenedores #contenedores li a {
    color: white;
}

#liContenedores #contenedores li:hover a {
    color: #FAA852;
}

.nav {
    padding: 4% 5%;
    position: relative;
    top: 60px;
    scroll-margin-top: 20px;
    margin: 1%;
}

#darkButton {
    position: relative;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid #FA9F4B;
    display: flex;
    background-color: black;
}

#darkButton:hover #darkMode {
    display: block;
}

#darkMode {
    opacity: 0.6;
    display: none;
    position: absolute;
    right: -50px;
    top: -10px;
    background-color: aliceblue;
}

.darkButtonIcons {
    width: 20px;
    height: 20px;
    transition: .3s ease-in-out all;
}

#lightIcon {
    filter: invert(1);
}

/*--------------------------- Presentación ----------------------------*/



/*--------------------------- Proyectos ----------------------------*/

#proyectosCont {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 50px 350px auto 100px;
    display: grid;
    gap: 2%;
}

.proyectos {
    border-radius: 8px;
    overflow: hidden;
    border: 8px rgba(0, 0, 0, 0.6) solid;
    background-color: #2e2e2e;
    color: white;
}

.proyectos a {
    color: white;
}

.proyectos a:hover {
    color: #FAA852;
}

#p1 {
    grid-column: 1/3;
}

.centerCont {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#descripcion {
    grid-area: 2/3/4/3;
    transition: .5s ease-in-out all;
    overflow-y: scroll;

    &.proyecto1 #descripcionP1,
    &.proyecto2 #descripcionP2,
    &.proyecto3 #descripcionP3 {
        display: block;
    }

    &.proyecto1 #abrirDescP1,
    &.proyecto2 #abrirDescP2,
    &.proyecto3 #abrirDescP3 {
        rotate: 90deg;
    }
}

#notasFunc {
    grid-area: 3/1/4/3;
}

#p7 {
    grid-column: 1/4;
    padding-left: 5%;
}

.descripcionContP {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.desplegar:hover {
    filter: invert(1);
}

.descripcionP {
    display: none;
    padding: 5px;
}

/*--------------------------- Contribuir ----------------------------*/

#cont1 {
    display: flex;
    justify-content: center;
}

#cont2 {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 0.1px 0.2px black
}

#cont2:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
}

/*--------------------------- Atajos ----------------------------*/

#contList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#contList ul {
    width: 38%;
    text-align: center;
    background: rgb(255, 255, 255, 0.0);
    border-radius: 50px;
    margin: 3% 6%;

}

#contList h2 {
    border-bottom: solid 1px #FAA852;
    ;
}

#contList ul li {
    text-align: left;
    padding-left: 10%;
}

#contList:hover a:hover {
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.9) 18%,
            rgba(0, 0, 0, 0) 100%);
    padding-right: 40%;
    border-left: rgb(255, 255, 255) solid 3px;
    color: white;
}

/*--------------------------- Acerca De ----------------------------*/

#acercaDe {
    margin: 4% 7% 0 7%;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 50px;
    scroll-margin-top: 60px;
    font-size: 90%;
}

/*--------------------------- Footer || Contacto ----------------------------*/

#contacto {
    width: 90%;
    overflow: hidden;
}

#contacto ul {
    display: flex;
    justify-content: center;
    gap: 2%;
}

#contacto li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    height: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    box-shadow: 1px 1px 0.1px 0.2px black;
}

#contacto li:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

.squareIcon {
    width: auto;
    height: 70%;
}

#youtubeIcon {
    width: auto;
    height: 70%;
}

#whatsAppIcon {
    filter: invert(55%) sepia(87%) saturate(3652%) hue-rotate(103deg) brightness(98%) contrast(101%);
}

#instagramIcon {
    visibility: visible;
    filter: invert(32%) sepia(58%) saturate(987%) hue-rotate(352deg) brightness(90%) contrast(86%)
}

#twitterIcon {
    visibility: visible;
    filter:
        invert(45%) sepia(97%) saturate(1728%) hue-rotate(164deg) brightness(100%) contrast(103%);
}

#final {
    text-align: right;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

/*--------------------------- Resposive ---------------------------*/

@media (max-width: 768px) {

    /*--------------------------- Generales || Inicio || Barra nav ---------------------------*/

    body {
        font-size: 1.5ch;
    }

    #banner {
        width: 100%;
    }

    #start a {
        border-radius: 5px;
    }

    .nav {
        top: 40px;
    }

    /*--------------------------- Presentacion ---------------------------*/

    #presentacion {
        border-radius: 12px;
    }

    /*--------------------------- Proyectos ---------------------------*/

    #proyectosCont {
        grid-template-columns: 48.5% 48.5%;
        grid-template-rows: 60px 60px 60px auto 80px;
        display: grid;
        gap: 2%;
    }

    .proyectos {
        border-radius: solid rgba(0, 0, 0, 0.6) 3px;
    }

    #p1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #horaActual {
        display: none;
    }

    #p3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #p4 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    #descripcion {
        grid-row: 1/4;
        grid-column: 2/3;
    }

    #notasFunc {
        grid-row: 4/7;
        grid-column: 1/3;
        display: none;
    }

    #p7 {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    #p8 {
        grid-row: 5/6;
        grid-column: 1/2
    }

    #p9 {
        grid-row: 5/6;
        grid-column: 2/3;
    }

    #p10 {
        display: none;
    }

    .desplegar {
        width: 20px;
        height: 20px;
    }

    /*--------------------------- Footer || Contacto ---------------------------*/

    #contacto li {
        width: 70px;
        height: 50px;
        padding: 5px;
        font-size: 0.7ch;
    }
}

@media (min-width: 1200px) {

    /*--------------------------- Generales || Inicio || Barra nav ---------------------------*/

    body {
        font-size: 5ch;
    }

    #banner button {
        height: 60px;
        width: 120px;
        border: 5px solid rgb(255, 189, 189);
    }

    #banner button img {
        width: auto;
        height: 55px;
    }

    .nav {
        top: 150px;
    }

    /*--------------------------- Proyectos ---------------------------*/

    #proyectosCont {
        grid-template-rows: 150px 150px 1050px auto 150px;
    }

    .proyectos {
        border-radius: 12px;
    }

    /*--------------------------- Footer || Contacto ---------------------------*/

    #contribuir img {
        width: 70%;
        height: auto;
    }

    #contacto li {
        width: 290px;
        height: 200px;
        padding: 20px;
        font-size: 1.2ch;
    }
}