/*--------------------------- Notas - Contenedor principal----------------------------*/

#newNoteBtn {
    width: 30%;
    height: 10%;
    border-radius: 8px;
}

.notas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#referencias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#nuevaNota {
    margin-top: 5%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

/*--------------------------- Notas - Contenedores----------------------------*/

#dropZoneUbi {
    padding-bottom: 10%;
}

.dropZone {
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 24px;
    background-color: rgb(0, 0, 0, 0.1);
    border-radius: 12px;
    box-shadow: 1px 1px 0.1px 0.2px black;
}

#dropZone {
    position: relative;
    height: 140px;
    width: 80%;
    left: 10%;
    z-index: 100;
    padding: 10px;
}

#dropZone1 {
    display: none;
}

#dropZone2 {
    position: fixed;
    right: 20px;
    bottom: 10px;
    width: 120px;
    height: 120px;
    z-index: 100;
}

#dropZone2:hover {
    right: 80px;
    bottom: 80px;
}

.drag {
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.5) 10%,
            rgba(255, 255, 255, 0.5) 85%);
    border-radius: 12px;
    transition: .3s ease-in-out all;
    border: grey dashed 2px;
}

/*--------------------------- Notas ----------------------------*/

.note {
    background: rgba(255, 255, 0, 0.5);
    height: 120px;
    width: 120px;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: (0, 0, 7px, rgba(0, 0, 0, ));
    outline: none;
    box-shadow: 1px 1px 0.1px 0.2px black;
}

.color1 {
    background: linear-gradient(215deg,
            rgb(212, 26, 26) 0%,
            rgb(142, 6, 6) 10%);
}

.color2 {
    background: linear-gradient(215deg,
            rgb(97, 124, 216) 0%,
            rgb(61, 100, 139) 10%);
    color: white;
}

.color3 {
    background: linear-gradient(215deg,
            rgb(255, 189, 189, 1) 0%,
            rgb(158, 117, 117) 10%);
}

.color4 {
    background: linear-gradient(215deg,
            rgb(140, 0, 255, 1) 0%,
            rgb(79, 0, 143) 10%);
    color: white;
}

.color5 {
    background: linear-gradient(215deg,
            rgb(255, 196, 1) 0%,
            rgb(195, 150, 0)10%);
}

.color6 {
    background: linear-gradient(215deg,
            rgb(144, 141, 141) 0%,
            rgb(0, 0, 0) 10%);
    color: white;
}

.color7 {
    background: linear-gradient(215deg,
            rgb(248, 80, 0),
            rgb(170, 54, 0)10%);
}

.color8 {
    background: linear-gradient(215deg,
            rgb(200, 255, 0) 0%,
            rgb(117, 150, 0) 10%);
}

.color9 {
    background: linear-gradient(215deg,
            rgb(255, 255, 255) 0%,
            rgb(161, 161, 161) 10%);
}

.note:hover {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 196, 1);
    z-index: 1;
    padding: 10px;
    font-size: 2ch;
}

.color1:hover {
    background: rgb(212, 26, 26);
    color: black
}

.color2:hover {
    background: rgb(97, 124, 216, 1);
    color: white;
}

.color3:hover {
    background: rgb(255, 189, 189, 1);
    color: black;
}

.color4:hover {
    background: rgb(140, 0, 255, 1);
    color: white;
}

.color5:hover {
    background: rgb(255, 196, 1);
    color: black;
}

.color6:hover {
    background: rgb(87, 77, 77);
    color: white;
}

.color7:hover {
    background: rgb(248, 80, 0);
    color: black;
}

.color8:hover {
    background: rgb(200, 255, 0);
    color: black;
}

.color9:hover {
    background: rgb(255, 255, 255);
    color: black;
}

/*--------------------------- Menu - Color - Eliminar ----------------------------*/

#dobleclick {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 900;
    background-color: rgba(0, 255, 255, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.paletaColor {
    cursor: pointer;
    margin: 5%;
    padding: 20%;
}

#menuBotones {
    display: flex;
}

.notasButtons {
    margin: 5%;
    background-color: white;
}


/*--------------------------- Resposive ---------------------------*/


@media (max-width: 768px) {

    .notesHide {
        display: none;
    }
}

@media (min-width: 1200px) {

    .note {
        height: 16ch;
        width: 16ch;
        font-size: 2ch;
    }

    .note:hover {
        height: 20ch;
        width: 20ch;
    }

    /*--------------------------- Notas || Drop Zones ---------------------------*/

    .dropZone {
        grid-template-columns: repeat(auto-fill, 16ch);
        gap: 5%;
    }

    #nuevaNota {
        grid-template-columns: repeat(auto-fill, 18ch);
        grid-template-columns: repeat(1fr);
        gap: 5%;
        min-height: 400px;
    }

    #nuevaNota h2 {
        font-size: 2ch;
    }

    /*--------------------------- Notas || Menu  ---------------------------*/

}