*{
    margin: 0px;
}

#Todojuego1{
       border: 3px solid rgb(0, 0, 0);

}
body {
    
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
canvas{
    margin: 60px 30%;   

}
#mycanvas{
    
    border:1px solid hsl(0, 0%, 100%);
}