/*para sacar margenes por defecto de todos los elementos*/
* {
    margin: 0px;
}

body {
    background-color: rgb(245, 222, 179);
    font-family: 'Courier New', Courier, monospace;
}




header {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    line-height: 85px;
    color: dark;

}
a{
 color : black;
 text-decoration: none;   
}

img {
    height: 100px;
    border-radius : 50%;
}

h1 {
    border-bottom: 3px solid rgb(170, 81, 46);
    ;
    font-size: 4ch;
}

h2 {
    font-size: 3ch;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 2ch;
    text-align: justify;
}

#linkjuegos {
    margin-top: 30px;
    width: 100%;
}

#divjuego1,
#divjuego2,
#divjuego3,
#divjuego4,
#divjuego5 {
    margin-right: 25%;
    margin-left: 5%;
    display: flex;
    border-bottom : solid 2px black; 
    transition: .3s ease all;
}


#descripcionjuego1,
#descripcionjuego2,
#descripcionjuego3,
#descripcionjuego4,
#descripcionjuego5 {
    margin: 10px 10px;
    flex: 1;

}

#divjuego1:hover,
#divjuego2:hover,
#divjuego3:hover,
#divjuego4:hover,
#divjuego5:hover {
    background-color: rgb(123, 42, 143);
    color: wheat;
    margin-right: 5%;
    transition: .3s ease all;
    border-bottom : solid 2px black; 
    border-radius:12px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

footer {
    text-align: center;
    margin-top: 3px;
    border-top: solid 3px rgb(123, 42, 143);
    padding: 30px;
}