* {
    margin: 0px;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(59deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(164, 177, 180, 1) 100%);
    font-family: 'Courier New', Courier, monospace;
    height: 655px;
}

#Todojuego1 {
    width: 95%;
    margin: 0px auto;
}

header {
    width: 90%;
    margin-left: 5%;
    text-align: right;
    line-height: 85px;
    color: white;
}

h1 {
    border-bottom: 3px solid rgba(217, 180, 180, 1);
    font-size: 4ch;
    text-align: center;
}

h2 {
    text-align: left;
    color: white;
}

button {
    cursor: pointer;
}

#racha1 {
    width: 350px;
    font-size: 2ch;
    height: 32px;
    position: relative;
    z-index: -1;
    left: 320px;
    top: 450px
}

#racha1 p {
    position: absolute;
    left: 15px;
    top: 5px;
    color: white;
    font-weight: 800;
    
}

#rachaactual,
#nombre,
#boost {
    position: absolute;
    height: 26px;
    color: white;
    font-weight: 800;
}

#racha1::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 96%;
    top: 0%;
    right: 4%;
    border-radius: 50px;
    z-index: -1;
}

#racha1::before,#boost::before{
    content: "";
    height: 26px;
    width: 350px;
    position: absolute;
    background: linear-gradient(200deg,
            #f4c055,
            #f7e837,
            #7de9d0,
            rgb(92, 226, 222),
            rgb(67, 83, 223),
            rgb(171, 82, 212),
            rgba(217, 180, 217, 1),
            rgb(245, 208, 208));
    filter: blur(8px);
    background-size: 600%;
    z-index: -2;
    border-radius: 50px;
    right: 10px;
}

#boost {
    bottom: 145px;
    width: 360px;
    left: 340px;
    text-align: center;  
    background-color: black;
    border-radius: 50px;  
    font-weight: 800;
}
#boost #bonus{
    height: 26px;
    position:absolute;
    left: 10px;
    width: 250px;
    font-weight: 800;  
}

#boost #vidas{
    position: absolute;
    width: 20px;
    height: 26px;
    right: 35px;
    font-size: 3ch;
    top: -2px;
    font-weight: 800;
}

#boost #vida{
    position: absolute;
    filter: invert(1);
    width: 26px;
    right:10px;    
    font-weight: 800;
}

#nombre {
    left: 150px;
    bottom: 0px; 
}

#rachaactual {
    bottom: 0px;
    right: 30px;
}

canvas {
    position: absolute;
    top: 150px;
    right: 360px;
}

.canvasSupervivencia {
    background: rgb(217, 102, 60);
    background: radial-gradient(circle,
            rgba(217, 102, 60, 1) 5%,
            rgba(208, 218, 116, 0.8008544578980864) 20%,
            rgba(108, 218, 136, 0.6210791769992099) 35%,
            rgba(76, 212, 219, 0.4946746826171875) 50%,
            rgba(63, 95, 193, 0.3626522107070751) 65%,
            rgba(106, 51, 201, 0.2615286152014572) 80%,
            rgba(64, 60, 60, 0) 95%);
    border-radius: 40px;
    border-top: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
    border-right: 3px solid rgb(0, 0, 0);
    border-bottom: solid 2px black;
    opacity: 0.7;
}

.canvasClasico {
    background: rgb(157, 217, 60);
    border: black;
    opacity: 0.7;
}

.PPT::before,
#si::before,
#no::before,
#cambiarmodo:hover::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            rgba(244, 192, 85, 1),
            rgba(247, 232, 55, 1),
            rgba(125, 233, 208, 1),
            rgb(92, 226, 222),
            rgb(67, 83, 223),
            rgb(171, 82, 212),
            rgba(217, 180, 217, 1),
            rgb(245, 208, 208));
    filter: blur(8px);
    background-size: 600%;
    border-radius: 10px;

    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0
    }

}

#informacion {
    display: none;
}

#mododejuegobotones {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: none;
    font-size: 2ch;
}

.PPT {
    display: none;
}

#si,
.PPT,
#no {
    margin-right: 25%;
    margin-left: 25%;
    margin: 20px 20%;
    padding: 10px 50px;
    position: relative;
}

.PPT,
#si,
#no,
.cambiarmodo,
#cambiarmodo{
    background: black;
    border: none;
    color: rgba(164, 177, 180, 1);
    border-radius: 50px;
    font-size: 2ch;
    border-radius: 12px;
    transition: .3s ease all;
    border-radius: 50px;
}

#cambiarmodo {
    left: 70px;
    top: 120px;
    position: absolute;
    width: 150px;
    font-size: 2ch;
    text-align: center;
    font-weight: 800;
}

#despedida {
    background: black;
    border: black 3px solid;
    color: rgb(255, 255, 255);
    font-size: 2ch;
    border-radius: 12px;
    transition: .3s ease all;
    border-radius: 50px;
    width: 350px;
    height: 80px;
    position: relative;
    left: 300px;
    display: none;
    top: 200px;
    text-align: center;
    padding-top: 20px;
}

.cambiarmodo {
    display: none;
    margin-top: 10px;
}

#cambiarmodo:hover .cambiarmodo:hover {
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}

#cambiarmodo:hover {
    width: 170px;
    padding-bottom: 30px;
    border-radius: 12px;
    padding-top: 10px;
    background-color: rgb(0, 0, 0); 
}

#cambiarmodo:hover p {
    font-size: 2ch;
    transition: .4s ease-in-out all;
    color:white;
    font-weight: 800;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
}

#cambiarmodo:hover .cambiarmodo {
    display: block;
}

.PPT:hover {
    color: white;
}

#findeljuego {
    display: none;
    text-align: center;
    transition: .3s ease all;
    margin-top: 80px;
}

#findeljuego h2 {
    text-align: center;
}

#si:hover,
#no:hover {
    color: white;
    transition: .4s ease ease-in-out all;
}


a {
    text-decoration: none;
    color: white;
}

footer {
    position: absolute;
    bottom: 30px;
    color: white;
    height: 30px;
    width: 150px;
    left: 50px;
}

footer:hover .arrowleft,
footer:hover span {
    opacity: 1;
    padding-left: 10px;
}

footer span {
    color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 25px;
}

footer .arrowleft {
    color: white;
    position: absolute;
    bottom: 4px;
    width: 25px;
    height: 25px;
    filter: invert(1);
    opacity: 0;
    transition: .3s ease all;
    left: -30px;
    ;
}