/*--------------------------- General || Boton ----------------------------*/

.botons {
    cursor: pointer;
    background: black;
    border: none;
    color: rgba(164, 177, 180, 1);
    position: relative;
    border-radius: 50px;
    font-size: 2.5ch;
    height: 40px;
    width: 280px;
    margin: 5% 0%;
}

.botons::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            rgba(244, 192, 85, 1),
            rgba(247, 232, 55, 1),
            rgba(125, 233, 208, 1),
            rgb(92, 226, 222),
            rgb(67, 83, 223),
            rgb(171, 82, 212),
            rgba(217, 180, 217, 1),
            rgb(245, 208, 208));
    background-size: 600%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}


@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0
    }
}

.botons:hover span {
    left: 10px;
}

.botons span {
    transition: .4s ease-in-out all;
    position: absolute;
    left: 27%;
    bottom: 6px;
}

.botons .iconoBoton {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    top: 6px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.botons:hover .iconoBoton {
    left: 100px;
    opacity: 1;
    color: white;
}

.arrowright {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

h2 {
    text-align: left;
    padding: 2%;
}

.botons:hover {
    color: white;
}


/*--------------------------- Inicio ----------------------------*/


#bienvenida {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

#ingresonombreindicacion {
    font-size: 2ch;
}

#ingresonombre {
    border: solid 3px black;
    margin: 30px 0px;
    padding: 0.5%;
    border-radius: 12px;
    outline: none;
}

#ingresoboton {
    background: black;
    border: none;
    color: rgba(164, 177, 180, 1);
    position: relative;
    border-radius: 50px;
    font-size: 2.5ch;
    height: 40px;
    width: 150px;
}


/*--------------------------- Modo de juego ----------------------------*/


#modoBotones {
    display: none;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: center;
}

/*-------------- Footer --------------*/


#atras {
    width: 150px;
    transition: .3s ease-in-out all;
}

#atras a {
    display: flex;
    align-items: end;
    justify-content: left;
    width: 150px;
}

#atras img {
    height: 20px;
    width: 20px;
    opacity: 0;
}

#atras:hover {
    padding-left: 10px;
    filter: invert(1);
}

#atras:hover img {
    opacity: 1;
}

/*--------------------------- Interfaz || modo de juego----------------------------*/
#cambiarmodo {
    margin-top: 20%;
    border-radius: 12px;
    transition: .3s ease-in-out all;
    width: 100%;
    padding: 2% 2%;
    border-radius: 8px;
}

.cambiarmodo {
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.5ch;
    transition: .3s ease-in-out all;
    padding: 5% 0% 5% 0%;
    cursor: pointer;
}

#cambiarmodo:hover .cambiarmodo:hover {
    color: rgb(255, 255, 255);
}

#cambiarmodo:hover {
    padding-bottom: 50%;
}

#cambiarmodo:hover p {
    padding-top: 5%;
    border-bottom: 3px solid white;
}

#cambiarmodo:hover .cambiarmodo {
    display: flex;
    color: grey;
}

/*--------------------------- Botonera mobile ----------------------------*/
#botonera {
    width: 300px;
    display: none;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in-out all;
}

.botonMobile {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.botonMobile img {
    width: 100px;
    height: 100px;
}

#ArrowUp {
    grid-column: 2/3;
}

#ArrowRight {
    grid-column: 3/4;
    grid-row: 2/3;
    rotate: 90deg;
}

#ArrowDown {
    grid-column: 2/3;
    grid-row: 3/4;
}

#ArrowLeft {
    grid-column: 1/2;
    grid-row: 2/3;
    rotate: 90deg;
}

#canvasContenedor {
    width: 300px;
    height: 300px;
    position: relative;
}

@media (max-width: 768px) {
    #botonera {
        display: grid;
    }
}