 canvas {
        background: rgb(217, 102, 60);
        background: radial-gradient(circle,
                rgba(217, 102, 60, 1) 5%,
                rgba(208, 218, 116, 0.8008544578980864) 20%,
                rgba(108, 218, 136, 0.6210791769992099) 35%,
                rgba(76, 212, 219, 0.4946746826171875) 50%,
                rgba(63, 95, 193, 0.3626522107070751) 65%,
                rgba(106, 51, 201, 0.2615286152014572) 80%,
                rgba(64, 60, 60, 0) 95%);
        border-radius: 40px;
    }

    #findeljuego{
        display:none;
    }