/*--------------------------- Interfaz || Centro ----------------------------*/

canvas {
    background: rgb(157, 217, 60);
}

/*--------------------------- Interfaz || Puntuacion ----------------------------*/

.rachaCont {
    margin-top: 5%;
    width: 25%;
    height: 140px;
}

#racha {
    display: grid;
    color: white;
    text-align: center;
    gap: 1%;
    grid-template-columns: auto auto;
    grid-template-rows: 35px 35px 35px;
    align-items: start;
}

.racha {
    background-color: black;
    border-radius: 12px;
}

#puntuacion {
    grid-column: 1/3;
}

#nombre {
    background-color: black;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#rachaactual {
    background-color: black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#pantalla {
    grid-column: 1/3;
}



@media (max-width: 768px) {

    #rachaCont {
        width: 90%;
    }

}

@media (min-width: 1200px) {
    #racha {
        display: grid;
        color: white;
        text-align: center;
        gap: 1%;
        grid-template-columns: auto auto;
        grid-template-rows: 70px 70px 70px;
        align-items: start;
    }
}