#fondo{
    background: linear-gradient(131deg,
    #53D1FA 18%,
    #3B85E3 33%);
}
/*--------------------------- Interfaz de juego----------------------------*/

#juego {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 5%;
    width: 90%;
}

/*--------------------------- Interfaz || Izquierda ----------------------------*/

#cambiarmodo {
    margin-top: 20%;
    border-radius: 12px;
    transition: .3s ease-in-out all;
    width: 100%;
    padding:10px 2%;
    border-radius: 8px;
}

.cambiarmodo {
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.5ch;
    transition: .3s ease-in-out all;
    padding: 5% 0% 5% 0%;
    cursor: pointer;
}

#cambiarmodo:hover .cambiarmodo:hover {
    color: rgb(255, 255, 255);
}

#cambiarmodo:hover {
    padding-bottom: 10%;
}

#cambiarmodo:hover p {
    padding-top: 5%;
    border-bottom: 3px solid white;
}

#cambiarmodo:hover .cambiarmodo {
    display: flex;
    color: grey;
}

/*--------------------------- Interfaz || Centro || fin del juego ----------------------------*/

#findeljuego {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 300px;
    height: 250px;
    padding-top: 30px;
}

#si,
#no {
    color: rgb(172, 172, 172);
    height: 30px;
    width: 75px;
}

#si:hover,
#no:hover {
    color: white;
    transition: .4s ease ease-in-out all;
}

/*--------------------------- Interfaz || Centro || mensaje final ----------------------------*/

#despedida {
    transition: .3s ease all;
    height: 240px;
    width: 240px;
    display: none;
    text-align: center;
    align-items: center;
}


/*--------------------------- Responsive || Botonera mobile ----------------------------*/

#botonera {
    width: 300px;
    display: none;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease-in-out all;
}

.botonMobile {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
}

.botonMobile img {
    width: 100px;
    height: 100px;
}

#ArrowUp {
    grid-column: 2/3;
}

#ArrowRight {
    grid-column: 3/4;
    grid-row: 2/3;
    rotate: 90deg;
}

#ArrowDown {
    grid-column: 2/3;
    grid-row: 3/4;
}

#ArrowLeft {
    grid-column: 1/2;
    grid-row: 2/3;
    rotate: 90deg;
}

#canvasContenedor {
    width: 300px;
    height: 300px;
    position: relative;
}

@media (max-width: 768px) {

    #botonera {
        display: grid;
    }
/*--------------------------- Interfaz ----------------------------*/
    #juego {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   

    .centro {
        width: 300px;
        height: 300px;
    }

    #cambiarmodoCont {
        width: 90%;
        padding: 0%;
        margin: 0%;
        order: 3;
    }

}

@media (min-width:1200px){
    #si,
    #no {
        width: 120px;
        height: 70px;
        margin: 0%;
        padding: 0%;
    }

    #findeljuego {

        font-size: 1.5ch;
    }

    #despedida {
        font-size: 1.5ch;
    }
}