/*-------------- General --------------*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

/*-------------- Banner --------------*/
#bultoNav {
  width: 3%;
}

#banner {
  width: 100%;
  height: 46px;
  background-color: linear-gradient(180deg,
      rgba(0, 0, 0, 0.9974836713812324) 18%,
      rgba(0, 0, 0, 0) 76%);
  position: fixed;
  z-index: 30;
  top: 0;
  transition: .5s ease-in-out all;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  float: left;
  margin-left: 5%;
  cursor: pointer;
  color: white;
  list-style-type: none;
  margin-top: 1%;
}

li:hover {
  border-bottom: solid #FAA852 1px;
}

/*-------------- Recomendacion principal --------------*/

.general {
  background-color: black;
}

.main {
  position: relative;
  max-height: 80vh;
  overflow: hidden;
}

.mainPhoto {
  width: 100%;
}

.mainDesc {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: left;
  bottom: 20%;
  left: 5%;
  color: white;
  gap: 45px;
  
}

.mainDesc h1 {
  font-size: 3rem;
  font-weight: 600;
  min-width: 360px;
}

.mainDesc a {
  text-decoration: none;
  border-radius: 6px;
  padding: 1% 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.mainDesc img {
  width: 20%;
}

.mainButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10%;
}

.mainButtons .mainTrailer {
  color: black;
  background-color: white;
}

.mainButtons .mainTrailer:hover {
  background-color: rgba(255, 255, 255, 0.733);
}

.mainButtons .mainSynopsis {
  color: white;
  background-color: rgba(255, 255, 255, 0.377);

}

.mainButtons .mainSynopsis img {
  filter: invert(1);
}

.mainButtons .mainSynopsis:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

/*-------------- Carrusel --------------*/

.flex {
  display: flex;
  flex-direction: row;
}

.margin {
  margin: 2% 5%;
  color: white;
  background-color: black;
}

h2.margin {
  border-bottom: #FAA852 solid 1px;
  width: fit-content;
}

.carousel {
  overflow: visible;
  height: 200px;
}

.carousel-inner {
  height: 200px;
  overflow: visible;
}

.imgCarrusel {
  width: 100%;
  transition: transform 0.3s ease;
  overflow: visible;
}

.imgCarrusel:hover {
  transform: scale(1.2);
}

/*-------------- Carrusel --------------*/
.bulto {
  height: 40px;
  background-color: black;
}

.slide {
  padding: 0 4%;
  background-color: black;
}

/*-------------- Footer --------------*/
footer{
  background-color: black;
}
.volver {
  position: fixed;
  bottom: 2%;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  background-color: black;
  border-radius: 20px;
  padding: 2px;
  z-index: 100;
}

.volver:hover {
  transform: scale(1.4);
}

.volver a {
  text-decoration: none;
  color: white;
}

footer .logo {
  width: 28px;
  height: 25px;
}

@media (max-width: 991px) {

  .fixedTop {
    right: 20%;
  }

  div.navbar-collapse ul.navbar-nav {
    background-color: black;
  }

  .mainDesc h1 {
    font-size: 2rem;
    font-weight: 400;
    min-width: 150px;
  }

  .carousel {
    height: 90px;
    background-color: black;
  }
}

@media (max-width: 400px) {
  .mainDesc h1 {
    font-size: 1.5rem;
    font-weight: 200;
    min-width: 60px;
  }

  .carousel {
    height: 60px;
    background-color: black;
  }
}