/*--------------------------- General ----------------------------*/

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Catamaran', sans-serif;
  height: 10vh;
}

body::before {
  content: "";
  position: fixed;
  background-image: url("../Imagenes/background.png");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}


.general {
  padding: 5%;
}

/*--------------------------- Scroll Bar ----------------------------*/

body::-webkit-scrollbar,
#comentario::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  margin-right: 3px;
  background-color: #2e2e2e;
}

body:hover::-webkit-scrollbar-thumb,
#comentario:hover::-webkit-scrollbar-thumb {
  background-color: #53D1FA;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover,
#comentario::-webkit-scrollbar-thumb:hover {
  width: 7px;
  background-color: #FAA852;
  border-radius: 12px;
}


/*-------------- Comentar --------------*/
form {
  display: flex;
  justify-content: space-around;
}

.insert {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;

}

.charts {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.insert button {
  align-self: flex-end;
  background-color: rgba(0,0,0,0.5);
  color: #FAA852;
  padding: 1%;
  border-radius: 8px;
  border: solid 1px #FAA852;
  cursor: pointer;
}

.insert button:hover {
  background-color: rgba(0,0,0,0.8);
}


.charts p {
  align-self: flex-end;
}

#input {
  padding: 4% 2%;
  background: rgba(0, 0, 0, 0.5);
  color: #FAA852;
}

#input::placeholder {
  color: #FAA852;
}

/*-------------- Comentario --------------*/

#muro {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #FAA852;
}

#muro .holder {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.comentarioDiv {
  width: 70%;
  align-items: center;
  resize: none;
  gap: 3%;
  display: flex;
  justify-content: center;
  min-height: 5rem;
}

.comentario {
  position: relative;
  background: rgb(0, 34, 150);
  background: linear-gradient(180deg, rgba(246, 186, 0, 0) 1%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 80%, rgba(246, 186, 0, 0) 99%);
  max-width: 85%;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 2%;
}

.comentario .contenido {
  overflow: hidden;
  color: #FAA852;
  word-wrap: break-word;

}

.comentario .tiempo {
  font-weight: 550;
  color: #FAA852;
  display: flex;
  justify-content: end;
  border-top: #FAA852 1px solid;
}

/*-------------- Comentario --------------*/

.likesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 15%;
  max-height: 100%;
  filter: invert(1);
  background: rgb(0, 34, 150);
  background: linear-gradient(180deg, rgba(246, 186, 0, 0) 1%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 80%, rgba(246, 186, 0, 0) 99%);
}

.likes_ {
  max-height: 33px;
  font-size: 2ch;
  text-align: center;
  font-weight: 800;
}

.like {
  max-height: 33px;
  opacity: 0.6;
  cursor: pointer;
}

.like:hover {
  opacity: 1;
}

/*-------------- Footer --------------*/
footer {
  background-color: black;
}

.volver {
  position: fixed;
  bottom: 2%;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  background-color: black;
  border-radius: 20px;
  padding: 2px;
  z-index: 100;
}

.volver:hover {
  transform: scale(1.4);
}

.volver a {
  text-decoration: none;
  color: white;
}

footer .logo {
  width: 28px;
  height: 25px;
}