/*-------------- Banner --------------*/


#banner {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background: rgb(201, 186, 186);
  background: linear-gradient(180deg,
      rgb(201, 186, 186) 5%,
      rgb(201, 186, 186,0.5) 55%,
      rgba(0, 0, 0, 0) 100%);
  z-index: 200;
}

#banner ul {
  margin: 0px;
  padding: 0px;
}

#banner li {
  float: right;
  list-style: none;
  margin-right: 5%;
}

#banner li .iconSquare {
  width: 28px;
  height: 28px;
  margin-top: 1px;
}

#volver:hover .arrowleft,
#volver:hover span {
  opacity: 1;
  padding-left: 10px;
}

#instagramIcon {
  filter: invert(32%) sepia(58%) saturate(987%) hue-rotate(352deg) brightness(90%) contrast(86%)
}

#twitterIcon {
  filter:
    invert(45%) sepia(97%) saturate(1728%) hue-rotate(164deg) brightness(100%) contrast(103%);
}

#youtubeIcon{
  height: 28px;
  margin-top: 1px;
  width: auto;
}

a {
  text-decoration: none;
}

#banner span {
  position: absolute;
  left: 30px;
  height: 25px;
  text-decoration: none;
  color: black;
}

#banner .arrowleft {
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  opacity: 0;
  transition: .3s ease all;
}

/*-------------- General --------------*/


body {
  background: rgb(2, 0, 36);
  background: linear-gradient(59deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(164, 177, 180, 1) 100%);
  margin-top: 50px;
  padding: 0;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Catamaran', sans-serif;
}


/*-------------- Scroll Bar --------------*/


body::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
  margin-right: 3px;
}

body:hover::-webkit-scrollbar-thumb {
  background: rgb(170, 165, 170);
  border-radius: 12px;
  filter: blur(1px);
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:hover,
#comentario::-webkit-scrollbar-thumb:hover {
  width: 7px;
  background: rgb(55, 56, 56);
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}

#comentario::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-right: 10px solid rgba(255, 255, 255, 0.2);
  margin-right: 3px;

}

#comentario:hover::-webkit-scrollbar-thumb {
  background: rgba(216, 78, 78, 0.9974836713812324);
  ;
  border-radius: 12px;
  filter: blur(1px);
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}


/*-------------- Comentar --------------*/


#formulario {
  width: 100%;
  background-color: rgba(2, 0, 36, 0);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 2;
  padding-bottom: 10%;
}

#formulario h2 {
  font-size: 2ch;
  text-align: right;
  margin: 2% 20% 0% auto;
  color :rgb(201, 186, 186);
}

#comentario {
  width: 60%;
  height: 60px;
  resize: none;
  margin: 0 20%;
  background-color: rgba(55, 53, 53, 0.875);
  color: rgb(201, 186, 186);
  outline: none;
}

#comentario::placeholder {
  color: rgb(201, 186, 186);
}

#comentar {
  margin-right: 15%;
  float: right;
  background-color: rgb(201, 186, 186);
  cursor: pointer;
  color: black;
  border-radius: 50px;
  text-align: center;
  padding: 1% 2%;
  margin-top: 2%;
}

#comentar:hover {
  background: rgb(169, 60, 60);
}


/*-------------- Comentario --------------*/


.muro {
  margin-top: 1%;
  width: 100%;
  display: flex;
  align-items: center;
}

.comentarioDiv {
  width: 70%;
  resize: none;
  margin: 1% 15% 1% 15%;
  display: flex;
  justify-content: center;
}

.likesDiv {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 15%;
  max-height: 100%;
  filter: invert(1);
}

.comentario {
  position: relative;
  padding: 1% 3% 0 3%;
  background-color: rgba(55, 53, 53, 0.875);
  max-width: 85%;
  border-bottom-left-radius: 25px;
}

.comentario .contenido {
  overflow: hidden;
  color: rgb(201, 186, 186);
  word-wrap: break-word;
}

.comentario .tiempo {
  font-size: 12px;
  font-weight: 800;
  color: rgb(201, 186, 186);
  display: flex;
  justify-content: end;
}

.likes {
  max-height: 33px;
  font-size: 2ch;
}

.like {
  max-height: 33px;
  opacity: 0.6;
  cursor: pointer;
}

.like:hover {
  opacity: 1;
}