/*--------------------------- General ----------------------------*/

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Catamaran', sans-serif;
  background: linear-gradient(131deg,
      #53D1FA 18%,
      #3B85E3 33%);
}

#fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #FAA852;
}

h1 {
  text-align: center;
  padding: 20px;
}

/*--------------------------- Scroll Bar ----------------------------*/

body::-webkit-scrollbar,
#comentario::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  margin-right: 3px;
  background-color: #2e2e2e;
}

body:hover::-webkit-scrollbar-thumb,
#comentario:hover::-webkit-scrollbar-thumb {
  background-color: #53D1FA;
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb:hover,
#comentario::-webkit-scrollbar-thumb:hover {
  width: 7px;
  background-color: #FAA852;
  border-radius: 12px;
}

/*--------------------------- Header ----------------------------*/

h1 {
  background: rgb(244, 192, 85, 0.8);
  background: linear-gradient(3deg,
      rgba(244, 192, 85, 0.2) 4%,
      rgba(247, 232, 55, 0.2) 8%,
      rgba(125, 233, 208, 0.2) 12%,
      rgb(92, 226, 222, 0.2) 16%,
      rgb(67, 83, 223, 0.5) 20%,
      rgb(171, 82, 212, 0.5) 24%,
      rgba(217, 180, 217, 0.5) 28%,
      rgb(245, 208, 208, 0.2)32%,
      rgb(160, 158, 158, 0.2) 36%,
      rgb(2, 0, 36, 0.2)96%);
}

/*--------------------------- Banner ----------------------------*/

#banner {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  z-index: 200;
}

#banner ul {
  margin: 0px;
  padding: 0px;
}

#banner li {
  float: right;
  list-style: none;
  margin-right: 5%;
}

#banner li .iconSquare {
  width: 28px;
  height: 28px;
  margin-top: 1px;
}

#volver:hover .arrowleft,
#volver:hover span {
  opacity: 1;
  padding-left: 10px;
}

#instagramIcon {
  filter: invert(32%) sepia(58%) saturate(987%) hue-rotate(352deg) brightness(90%) contrast(86%)
}

#twitterIcon {
  filter:
    invert(45%) sepia(97%) saturate(1728%) hue-rotate(164deg) brightness(100%) contrast(103%);
}

#youtubeIcon {
  height: 28px;
  margin-top: 1px;
  width: auto;
}

a {
  text-decoration: none;
}

#banner span {
  position: absolute;
  left: 30px;
  height: 25px;
  text-decoration: none;
  color: black;
}

#banner .arrowleft {
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  opacity: 0;
  transition: .3s ease all;
}

/*-------------- Comentar --------------*/


#formulario {
  width: 100%;
  background-color: rgba(2, 0, 36, 0);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 2;
  padding-bottom: 10%;
  margin-top: 60px;
}

#formulario h2 {
  font-size: 2ch;
  text-align: right;
  margin: 2% 20% 0% auto;
  color: #FAA852;
}

#comentario {
  padding: 1%;
  width: 60%;
  height: 60px;
  resize: none;
  margin: 0 20%;
  background-color: rgba(55, 53, 53, 0.875);
  color: #FAA852;
  outline: none;
}

#comentario::placeholder {
  color: #FAA852;
}

#comentar {
  margin-right: 15%;
  float: right;
  background-color: rgba(250, 168, 82, 0.8);
  cursor: pointer;
  color: black;
  border-radius: 50px;
  text-align: center;
  padding: 1% 2%;
  margin-top: 2%;
}

#comentar:hover {
  background-color: rgba(250, 168, 82);
}


/*-------------- Comentario --------------*/


.muro {
  margin-top: 1%;
  width: 100%;
  display: flex;
  align-items: center;
}

.comentarioDiv {
  width: 70%;
  resize: none;
  margin: 1% 15% 1% 15%;
  display: flex;
  justify-content: center;
}

.likesDiv {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 15%;
  max-height: 100%;
  filter: invert(1);
}

.comentario {
  position: relative;
  padding: 1% 3% 0 3%;
  background-color: rgba(55, 53, 53, 0.875);
  max-width: 85%;
  border-bottom-left-radius: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.comentario .contenido {
  overflow: hidden;
  color: #FAA852;
  word-wrap: break-word;

}

.comentario .tiempo {
  font-size: 12px;
  font-weight: 800;
  color: #FAA852;
  display: flex;
  justify-content: end;
  border-top: #FAA852 1px solid;
}

.likes {
  max-height: 33px;
  font-size: 2ch;
}

.like {
  max-height: 33px;
  opacity: 0.6;
  cursor: pointer;
}

.like:hover {
  opacity: 1;
}

.boton-utilizado {
  opacity: 0.2;
  pointer-events: none;
  cursor: none;
}

.boton-utilizado:hover {
  opacity: 0.2;
}


/*-------------- Foter --------------*/


footer {
  height: 10px;
  width: 150px;
}

footer:hover .arrowleft,
footer:hover span {
  opacity: 1;
  padding-left: 10px;
}

footer span {
  position: absolute;
  font-size: large;
  color: black;
}

a {
  font-style: none;
}

footer .arrowleft {
  width: 25px;
  height: 25px;
  opacity: 0;
  transition: .3s ease all;
}