/* ----------------------------------------------- General ----------------------------------------------- */
* {
    overflow: hidden;
}

body {
    background: rgb(164, 11, 31);
}

#bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle,
            rgba(0, 34, 150, 0) 0%,
            rgba(0, 0, 0, 0.4) 32%,
            rgba(0, 0, 0, 0.6) 70%,
            rgba(0, 0, 0, 0.8) 100%);
    z-index: -10;
}

.saludo {
    color: white;
    width: min-content;
    opacity: 0;
}

/* ----------------------------------------------- Efecto ----------------------------------------------- */


#backIndex {
    background: rgb(9, 5, 84);
    width: 100vw;
    height: 100vh;
}

#backIndex2 {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle,
            rgb(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.7) 32%,
            rgba(0, 0, 0, 0.9) 70%,
            rgba(0, 0, 0, 1) 100%);
}

.estrella {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    opacity: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    z-index: 5;
    filter: blur(8px);
}

.estrellaFugaz {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 12%;
    z-index: 5;
    filter: blur(4px);
}