* {
    margin: 0px auto;
    width: 100%;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(59deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(164, 177, 180, 1) 100%);
    font-family: 'Catamaran', sans-serif;
    height: 640px;
}

header {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    text-align: right;
    line-height: 85px;
    color: white;
}

h1 {
    border-bottom: 3px solid rgba(217, 180, 180, 1);
    font-size: 4ch;
    width: 75%;
    margin-left: 25%
}

h2 {
    font-size: 3ch;
    text-align: left;
}

h3 {
    font-size: 3ch;
    text-align: center;
}

p {
    font-size: 2ch;
    text-align: justify;
}

#linkjuegos {
    margin-top: 60px;
    width: 80%;
    float: left;
    overflow-x: fixed;
    overflow-y: scroll;
    height: 350px;
}

#linkjuegos::-webkit-scrollbar,
#jokeInterfaz::-webkit-scrollbar,
body::-webkit-scrollbar,
#jokeInterfaz #joke::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    background: fixed;

}

#linkjuegos:hover::-webkit-scrollbar-thumb,
#jokeInterfaz:hover::-webkit-scrollbar-thumb,
body:hover::-webkit-scrollbar-thumb,
#jokeInterfaz #joke:hover::-webkit-scrollbar-thumb {
    background: rgb(245, 208, 208);

    border-radius: 12px;
    filter: blur(1px);
}

#linkjuegos::-webkit-scrollbar-thumb:hover,
#jokeInterfaz::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
#jokeInterfaz #joke::-webkit-scrollbar-thumb:hover {
    width: 7px;
}

#linkjuegos::-webkit-scrollbar-corner,
#jokeInterfaz::-webkit-scrollbar-corner,
#jokeInterfaz #joke::-webkit-scrollbar-corner {
    background: fixed;
}

#linkjuegos:hover {
    padding-right: 150px;
}

a {
    text-decoration: none;
}

img {
    height: 95px;
    width: 95px;
    margin-left: 40px;
}
#imgj1{
    filter: invert(72%) sepia(82%) saturate(436%) hue-rotate(28deg) brightness(110%) contrast(103%);
}
#imgj2{
    filter:invert(1);
}
#divjuego1,
#divjuego2,
#divjuego3,
#divjuego4,
#divjuego5 {
    display: flex;
    transition: .3s ease all;
    height: 100px;
    width: 95%;
    color: white;
    z-index: 1;
    position: relative;
}

#descripcionjuego1,
#descripcionjuego2,
#descripcionjuego3,
#descripcionjuego4,
#descripcionjuego5 {
    width: 2500px;
    z-index: 2;
}

.parrafo {
    opacity: 0;
    position: absolute;
    top: 30px;
    width: 700px;
    height: 70%;
}

.nombrejuego {
    position: absolute;
    top: 30px;
}

#divjuego1:hover,
#divjuego2:hover,
#divjuego3:hover,
#divjuego4:hover,
#divjuego5:hover {
    color: rgb(255, 255, 255);
    background: rgb(244, 192, 85);
    background: linear-gradient(3deg,
            rgba(244, 192, 85, 1) 4%,
            rgba(247, 232, 55, 1) 8%,
            rgba(125, 233, 208, 1) 12%,
            rgb(92, 226, 222) 16%,
            rgb(67, 83, 223) 20%,
            rgb(171, 82, 212) 24%,
            rgba(217, 180, 217, 1) 28%,
            rgb(245, 208, 208) 32%,
            rgb(160, 158, 158) 36%,
            rgb(2, 0, 36)96%);
    transition: .3s ease all;
    border-radius: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;

}

#descripcionjuego1:hover>p,
#descripcionjuego2:hover>p,
#descripcionjuego3:hover>p,
#descripcionjuego4:hover>p,
#descripcionjuego5:hover>p {
    opacity: 1;
    color: white;
}

#descripcionjuego1:hover>h2,
#descripcionjuego2:hover>h2,
#descripcionjuego3:hover>h2,
#descripcionjuego4:hover>h2,
#descripcionjuego5:hover>h2 {
    opacity: 0;
}

.rainbow-text,
#jokeInterfaz #dia {
    background-image: linear-gradient(130deg,
            rgba(244, 192, 85, 1) 4%,
            rgba(247, 232, 55, 1) 8%,
            rgba(125, 233, 208, 1) 12%,
            rgb(92, 226, 222) 16%,
            rgb(67, 83, 223) 20%,
            rgb(171, 82, 212) 24%,
            rgba(217, 180, 217, 1) 28%,
            rgb(245, 208, 208) 32%,
            white 36%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(1px);
    rotate: 335deg;
    position: absolute;
    text-align: left;
    width: 220px;
    font-size: 3ch;
}

.rainbow-text {
    right: 50px;
    top: 220px;
}

#jokeBoton {
    position: absolute;
    left: 83%;
    top: 310px;
    width: 50px;
    border-radius: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
}

#jokeBoton:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

#jokeInterfaz {
    position: relative;
    height: 200px;
    width: 350px;
    top: 40px;
    border-radius: 12px;
    display: none;
    overflow: hidden;
}

#jokeInterfaz:hover {
    overflow-y: visible;
    padding-right: 150px;
    transition: .4s ease-in-out all;
    padding-bottom: 60px;
}

#jokeInterfaz #dia {
    top: 0px;
    left: 312px;
}

#jokeInterfaz #joke {
    position: absolute;
    text-align: center;
    width: 320px;
    top: 12px;
    left: 12px;
    font-size: 2ch;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.2);

}

#jokeInterfaz #puntuacionJoke {
    position: relative;
    left: 250px;
    top: 65px;
    width: 25px;
}

#puntuacionJoke p {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40px;
    font-weight: 800;
    left: 10px;
    text-align: center;
    cursor: pointer;
}

#abajo,
#arriba {
    width: 30px;
    margin: 10px;
    height: 30px;
    cursor: pointer;
}

#puntuarJoke {
    position: absolute;
    bottom: 150px;
    width: 60px;
    border-radius: 100%;
    height: 60px;
    left: 49%;
    background-color: rgba(255, 0, 0, 0.1);
    cursor: pointer;
    display: none;
}

#puntuarJoke:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

#abajo:hover,
#arriba:hover,
#puntuacionJoke p:hover {
    background-color: rgba(240, 248, 255, 0.2);
    border-radius: 12px;
}

footer {
    position: absolute;
    bottom: 30px;
    color: white;
    height: 30px;
    width: 150px;
    left: 80px;
}

footer:hover .arrowleft,
footer:hover span {
    opacity: 1;
    padding-left: 10px;
}

footer span {
    color: white;
    position: absolute;
    left: 30px;
    bottom: 0px;
    height: 25px;
}

footer .arrowleft {
    position: absolute;
    bottom: 4px;
    width: 25px;
    height: 25px;
    filter: invert(1);
    opacity: 0;
    transition: .3s ease all;
    left: -40px;
}